<div class="shipping-payment return-exchange">
    <div class="filter">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="shipping-payment__items search-found">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Поиск</span>
                </span>
            </span>
        </div>
        <div class="shipping-payment__title articles-main__title">
            Результат поиска
        </div>
        <div class="shipping-payment__item">
            <form class="search-found__form" action="" method="get">
                <input type="text" name="q" value=""><input type="submit" value="Найти" class="btn-sub3 abuse-popup__submit"
                    name="">
            </form>
        </div>
        <div class="shipping-payment__item">
            <span class="search__info">В каталоге найдено: 5 позиций</span>
            <div class="catalog__items">
                <div class="catalog__item">
                    <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <a href="product-card.html" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale catalog__sale">
                        <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence">в наличии</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                </div>
                <div class="catalog__item">
                    <img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <a href="product-card.html" class="special-offers__text catalog__text">60cm 4 Burner Gas on Glass
                        Hob</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale catalog__sale">
                        <span class="special-offers__price catalog__price">98 400<i class="special-offers__rub catalog__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence">в наличии</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                    <div class="announcing announcing__new"></div>
                    <div class="announcing announcing_two announcing__hit"></div>
                </div>
                <div class="catalog__item">
                    <img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <a href="#" class="special-offers__text catalog__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale catalog__sale price__dashed">
                        <span class="special-offers__price catalog__price">115 000<i class="special-offers__rub catalog__rub">руб.</i><span
                                class="price__absolute">122 750 руб.</span></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence">в наличии</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                    <div class="announcing announcing__sale"></div>
                </div>
                <div class="catalog__item">
                    <img src="images/new-items_4.jpg" srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <a href="#" class="special-offers__text catalog__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale catalog__sale">
                        <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence">в наличии</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                </div>
                <div class="catalog__item">
                    <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <a href="#" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale catalog__sale">
                        <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence grey">под заказ</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                </div>
                <div class="catalog__item">
                    <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <a href="#" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale catalog__sale">
                        <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence grey">под заказ</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>