.search-found {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: baseline;

  &__form {
    margin-top: 22px;
    width: 100%;
    height: 46px;
    display: flex;

    input[type='text'] {
      flex-grow: 1;
      background-color: #ffffff;
      border: solid 1px #eeeeee;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
      padding-left: 14px;
    }

    input[type='submit'] {}
  }

  .search__info {
    color: #262626;
    font-family: "Gotham Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 34px;
  }
  @media screen and (max-width: 480px) {
    .catalog__item {
      width: 100%;
      margin-right: 0;
      height: 100%;
    }
  }
}