<div class="comparison">
    <div class="navchain">
        <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item" href="/">De Dietrich</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item">Духовые шкафы</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="item">Сравнение</span>
            </span>
        </span>
    </div>
    <div class="comparison__title">Сравнение</div>
    <div class="comparison__middle">
        <div class="tabs">
            <div class="swiper__comparison">
                <div class="comparison__inner">
                    <div class="comparison-menu__title">Категория сравнения</div>
                    <ul class="comparison__list">
                        <li class="comparison__item">
                            <a class="comparison__link" href="/">
                                <span class="comparison__text">Духовые шкафы</span>
                            </a>
                        </li>
                        <li class="comparison__item">
                            <a class="comparison__link" href="/">
                                <span class="comparison__text">Варочные панели</span>
                            </a>
                        </li>
                        <li class="comparison__item">
                            <a class="comparison__link" href="/">
                                <span class="comparison__text">Варочные панели</span>
                            </a>
                        </li>
                    </ul>
                    <span class="comparison__text">6 товаров в категории</span>
                </div>
                <div id="comparison__button" class="comparison__button">
                    <div class="comparison-menu__title">Показать</div>
                    <a href="#" class="comparison__select active" compare="ALL">
                        <i></i> Все характеристики
                    </a>
                    <a href="#" class="comparison__select" compare="DIFF">
                        <i></i> Только отличающиеся
                    </a>
                    <a href="#" class="comparison__filter" compare="Delete">
                        <i></i> Очистить список
                    </a>
                </div>
            </div>
            <div class="tabs__characteristic">
                <span class="characteristic__title">Общие харакетристики</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Тип духового шкафа</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Способ подключения</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Тип очистки</span>
                </div>
                <span class="characteristic__title">Дизайн</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Цвет</span>
                </div>
                <span class="characteristic__title">Панель управления</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Тип управления</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Дисплей</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Клавиши</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Переключатели</span>
                </div>
                <span class="characteristic__title">Режим эксперт духовой шкаф</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Общее количество функций</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Конвекция</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Комбинированный нагрев</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Традиционный экономичный</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Поддержание в разогретом состоянии</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Разморозка</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Выпечка хлеба</span>
                </div>
                <span class="characteristic__title">Камера духового шкафа</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Количество стекол дверцы духовки</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Съёмных стёкол</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Дверца с плавным закрыванием «Soft-close»</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Холодная дверца</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Объем, л</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Внутреннее освещение</span>
                </div>
                <span class="characteristic__title">Энергопотребление</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Класс энергопотребления</span>
                </div>
                <span class="characteristic__title">Комплектация</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Решетки</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Противень</span>
                </div>
                <span class="characteristic__title">Размеры и вес</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Размеры ниши для встраивания, В х Ш х Г, мм</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Размеры прибора, В х Ш х Г, мм</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Размеры камеры, В х Ш х Г, мм</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Вес брутто, кг</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Вес нетто, кг</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Кабель без вилки в комплекте</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Напряжение, В</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Частота, Гц</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Сила тока, А</span>
                </div>
            </div>
        </div>
        <div class="swiper-container swiper-container-comparison">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper special-offers__wrapper">
                <div class="swiper-slide special-offers__slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                    <div class="tabs__characteristic">
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row"> <span class="characteristic__property">Multifunction Plus</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электрический</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Пиролитическая</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Чёрный</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электронное</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Есть</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Сенсорные</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Поворотные</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">9</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">4</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">3</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">73</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Галогенное</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">А+</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">2</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">1</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">585 х 560 х 550</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">592 х 592 х 609</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">320 х 465 х 375</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">38</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">36</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">220-240</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">50-60</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">16</span>
                        </div>
                    </div>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                    <div class="tabs__characteristic">
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row"> <span class="characteristic__property">Multifunction Plus</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электрический</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Пиролитическая</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Чёрный</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электронное</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Есть</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Сенсорные</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Поворотные</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">9</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">4</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">3</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">73</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Галогенное</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">А+</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">2</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">1</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">585 х 560 х 550</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">592 х 592 х 609</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">320 х 465 х 375</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">38</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">36</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">220-240</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">50-60</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">16</span>
                        </div>
                    </div>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                    <div class="tabs__characteristic">
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row"> <span class="characteristic__property">Multifunction Plus</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электрический</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Пиролитическая</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Чёрный</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электронное</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Есть</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Сенсорные</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Поворотные</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">9</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">4</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">3</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">73</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Галогенное</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">А+</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">2</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">1</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">585 х 560 х 550</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">592 х 592 х 609</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">320 х 465 х 375</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">38</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">36</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">220-240</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">50-60</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">16</span>
                        </div>
                    </div>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                    <div class="tabs__characteristic">
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row"> <span class="characteristic__property">Multifunction Plus</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электрический</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Пиролитическая</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Чёрный</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электронное</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Есть</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Сенсорные</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Поворотные</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">9</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">4</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">3</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">73</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Галогенное</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">А+</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">2</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">1</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">585 х 560 х 550</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">592 х 592 х 609</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">320 х 465 х 375</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">38</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">36</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">220-240</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">50-60</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">16</span>
                        </div>
                    </div>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                    <div class="tabs__characteristic">
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row"> <span class="characteristic__property">Multifunction Plus</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электрический</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Пиролитическая</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Чёрный</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Электронное</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Есть</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Сенсорные</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Поворотные</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">9</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">4</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">3</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">73</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Галогенное</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">А+</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">2</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">1</span>
                        </div>
                        <span class="characteristic__title"></span>
                        <div class="characteristic__row">
                            <span class="characteristic__property">585 х 560 х 550</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">592 х 592 х 609</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">320 х 465 х 375</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">38</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">36</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">Да</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">220-240</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">50-60</span>
                        </div>
                        <div class="characteristic__row">
                            <span class="characteristic__property">16</span>
                        </div>
                    </div>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                    <a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
                </div>
            </div>
            <!-- If we need pagination -->

            <!-- If we need navigation buttons -->
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <div class="swiper-pagination_2"></div>
        <div class="swiper-button-prev special-offers_prev"></div>
        <div class="swiper-button-next special-offers_next"></div>
    </div>
</div>


<table class="comparison">
    <tbody>
        <tr class="products-line">
            <td>
                <div class="swiper__comparison">
                    <div class="comparison__inner">
                        <div class="comparison-menu__title">Категория сравнения</div>
                        <ul class="comparison__list">
                            <li class="comparison__item">
                                <a class="comparison__link" href="/">
                                    <span class="comparison__text">Духовые шкафы</span>
                                </a>
                            </li>
                            <li class="comparison__item">
                                <a class="comparison__link" href="/">
                                    <span class="comparison__text">Варочные панели</span>
                                </a>
                            </li>
                            <li class="comparison__item">
                                <a class="comparison__link" href="/">
                                    <span class="comparison__text">Варочные панели</span>
                                </a>
                            </li>
                        </ul>
                        <span class="comparison__text">6 товаров в категории</span>
                    </div>
                    <div id="comparison__button" class="comparison__button">
                        <div class="comparison-menu__title">Показать</div>
                        <a href="#" class="comparison__select active" compare="ALL">
                            <i></i> Все характеристики
                        </a>
                        <a href="#" class="comparison__select" compare="DIFF">
                            <i></i> Только отличающиеся
                        </a>
                        <a href="#" class="comparison__filter" compare="Delete">
                            <i></i> Очистить список
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <div class="swiper__comparison">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="swiper__comparison">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="swiper__comparison">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="characteristic__row">
            <td>
                Общие харакетристики
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Тип духового шкафа</td>
            <td>Multifunction Plus</td>
            <td>Multifunction Plus</td>
            <td>Multifunction Plus</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Способ подключения</td>
            <td>Электрический</td>
            <td>Электрический</td>
            <td>Электрический</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Тип очистки</td>
            <td>Пиролитическая</td>
            <td>Пиролитическая</td>
            <td>Пиролитическая</td>
        </tr>
        <tr class="characteristic__title">
            <td>Дизайн</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Цвет</td>
            <td>Чёрный</td>
            <td>Чёрный</td>
            <td>Чёрный</td>
        </tr>
        <tr class="characteristic__title">
            <td>
                Панель управления
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Тип управления</td>
            <td>Электронное</td>
            <td>Электронное</td>
            <td>Электронное</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Дисплей</td>
            <td>Есть</td>
            <td>Есть</td>
            <td>Есть</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Клавиши</td>
            <td>Сенсорные</td>
            <td>Сенсорные</td>
            <td>Сенсорные</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Переключатели</td>
            <td>Поворотные</td>
            <td>Поворотные</td>
            <td>Поворотные</td>
        </tr>
        <tr class="characteristic__title">
            <td>
                Режим эксперт духовой шкаф
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Общее количество функций</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Конвекция</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Комбинированный нагрев</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Традиционный экономичный</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Поддержание в разогретом состоянии</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Разморозка</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Выпечка хлеба</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__title">
            <td>
                Камера духового шкафа
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Количество стекол дверцы духовки</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Съёмных стёкол</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Дверца с плавным закрыванием «Soft-close»</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Холодная дверца</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Объем, л</td>
            <td>73</td>
            <td>73</td>
            <td>73</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Внутреннее освещение</td>
            <td>Галогенное</td>
            <td>Галогенное</td>
            <td>Галогенное</td>
        </tr>
        <tr class="characteristic__title">
            <td>
                Энергопотребление
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Класс энергопотребления</td>
            <td>А</td>
            <td>А</td>
            <td>А</td>
        </tr>
        <tr class="characteristic__title">
            <td>
                Комплектация
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Решетки</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Противень</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="characteristic__title">
            <td>
                Размеры и вес
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Размеры ниши для встраивания, В х Ш х Г, мм</td>
            <td>585 х 560 х 550</td>
            <td>585 х 560 х 550</td>
            <td>585 х 560 х 550</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Размеры прибора, В х Ш х Г, мм</td>
            <td>592 х 592 х 609</td>
            <td>592 х 592 х 609</td>
            <td>592 х 592 х 609</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Размеры камеры, В х Ш х Г, мм</td>
            <td>320 х 465 х 375</td>
            <td>320 х 465 х 375</td>
            <td>320 х 465 х 375</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Вес брутто, кг</td>
            <td>38</td>
            <td>38</td>
            <td>38</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Вес нетто, кг</td>
            <td>36</td>
            <td>36</td>
            <td>36</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Кабель без вилки в комплекте</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Напряжение, В</td>
            <td>220-240</td>
            <td>220-240</td>
            <td>220-240</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Частота, Гц</td>
            <td>50-60</td>
            <td>50-60</td>
            <td>50-60</td>
        </tr>
        <tr class="characteristic__row">
            <td class="characteristic__name">Сила тока, А</td>
            <td>16</td>
            <td>16</td>
            <td>16</td>
        </tr>
    </tbody>
</table>