<div class="comparison">
    <div class="navchain">
        <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item" href="/">De Dietrich</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item">Духовые шкафы</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="item">Сравнение</span>
            </span>
        </span>
    </div>

    <div class="comparison__middle">
        <div class="comparison__title">Сравнение</div>
        <div class="tabs">
            <div class="comparison__inner">
                <div class="comparison-menu__title">Категория сравнения</div>
                <ul class="comparison__list">
                    <li class="comparison__item">
                        <a class="comparison__link" href="/">
                            <span class="comparison__text">Духовые шкафы</span>
                        </a>
                    </li>
                    <li class="comparison__item">
                        <a class="comparison__link" href="/">
                            <span class="comparison__text">Варочные панели</span>
                        </a>
                    </li>
                </ul>
                <span class="comparison__text">6 товаров в категории</span>
            </div>
            <div id="comparison__button" class="comparison__button">
                <div class="comparison-menu__title">Показать</div>
                <a href="#" class="active" compare="ALL">Все характеристики</a>
                <a href="#" compare="DIFF">Только отличающиеся</a>
            </div>
            <div class="tabs__characteristic closed">
                <span class="characteristic__title">Общие харакетристики</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Тип духового шкафа</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Multifunction Plus</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Способ подключения</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Электрический</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Тип очистки</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Пиролитическая</span>
                </div>
                <span class="characteristic__title">Дизайн</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Цвет</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Чёрный</span>
                </div>
                <span class="characteristic__title">Панель управления</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Тип управления</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Электронное</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Дисплей</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Есть</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Клавиши</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Сенсорные</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Переключатели</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Поворотные</span>
                </div>
                <span class="characteristic__title">Режим эксперт духовой шкаф</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Общее количество функций</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">9</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Конвекция</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Комбинированный нагрев</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Традиционный экономичный</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Поддержание в разогретом состоянии</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Разморозка</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Выпечка хлеба</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <span class="characteristic__title">Камера духового шкафа</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Количество стекол дверцы духовки</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">4</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Съёмных стёкол</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">3</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Дверца с плавным закрыванием «Soft-close»</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Холодная дверца</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Объем, л</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">73</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Внутреннее освещение</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Галогенное</span>
                </div>
                <span class="characteristic__title">Энергопотребление</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Класс энергопотребления</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">А+</span>
                </div>
                <span class="characteristic__title">Комплектация</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Решетки</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">2</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Противень</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">1</span>
                </div>
                <span class="characteristic__title">Размеры и вес</span>
                <div class="characteristic__row">
                    <span class="characteristic__name">Размеры ниши для встраивания, В х Ш х Г, мм</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">585 х 560 х 550</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Размеры прибора, В х Ш х Г, мм</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">592 х 592 х 609</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Размеры камеры, В х Ш х Г, мм</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">320 х 465 х 375</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Вес брутто, кг</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">38</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Вес нетто, кг</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">36</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Кабель без вилки в комплекте</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">Да</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Напряжение, В</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">220-240</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Частота, Гц</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">50-60</span>
                </div>
                <div class="characteristic__row">
                    <span class="characteristic__name">Сила тока, А</span>
                    <span class="characteristic__dashed"></span>
                    <span class="characteristic__property">16</span>
                </div>
                <span class="characteristic__copyright">
                    *Все сведения, указанные на сайте, носят информационный характер и не являются публичной
                    офертой. Производитель на свое усмотрение и без дополнительных уведомлений может менять
                    комплектацию, внешний вид, страну производства и технические характеристики модели. Уточняйте
                    подробную информацию о товаре в инструкции.
                </span>
            </div>
        </div>
        <div class="swiper-container swiper-container-comparison">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper special-offers__wrapper">
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->

            <!-- If we need navigation buttons -->
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <div class="swiper-pagination_2"></div>
        <div class="swiper-button-prev special-offers_prev"></div>
        <div class="swiper-button-next special-offers_next"></div>
    </div>
</div>