<div class="comparison">
    <div class="navchain">
        <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item" href="/">De Dietrich</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item">Духовые шкафы</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="item">Сравнение</span>
            </span>
        </span>
    </div>
    <div class="comparison__title">Сравнение</div>
    <table class="comparison__middle">
        <tbody class="swiper-container swiper-container-comparison">
            <tr class="products-line swiper-wrapper">
                <td class="swiper-slide">
                    <div class="swiper__comparison swiper__comparison_first">
                        <div class="comparison__inner">
                            <div class="comparison-menu__title">Категория сравнения</div>
                            <ul class="comparison__list">
                                <li class="comparison__item">
                                    <a class="comparison__link" href="/">
                                        <span class="comparison__text">Духовые шкафы</span>
                                    </a>
                                </li>
                                <li class="comparison__item">
                                    <a class="comparison__link" href="/">
                                        <span class="comparison__text">Варочные панели</span>
                                    </a>
                                </li>
                                <li class="comparison__item">
                                    <a class="comparison__link" href="/">
                                        <span class="comparison__text">Варочные панели</span>
                                    </a>
                                </li>
                            </ul>
                            <span class="comparison__text">6 товаров в категории</span>
                        </div>
                        <div id="comparison__button" class="comparison__button">
                            <div class="comparison-menu__title">Показать</div>
                            <a href="#" class="comparison__select active" compare="ALL">
                                <i></i> Все характеристики
                            </a>
                            <a href="#" class="comparison__select" compare="DIFF">
                                <i></i> Только отличающиеся
                            </a>
                            <a href="#" class="comparison__filter" compare="Delete">
                                <i></i> Очистить список
                            </a>
                        </div>
                    </div>
                </td>
                <td class="swiper-slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                </td>
                <td class="swiper-slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                </td>
                <td class="swiper-slide">
                    <div class="swiper__comparison">
                        <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="swiper-slide">
                    Общие харакетристики
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Тип духового шкафа</td>
                <td class="swiper-slide">Multifunction Plus</td>
                <td class="swiper-slide">Multifunction Plus</td>
                <td class="swiper-slide">Multifunction Plus</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Способ подключения</td>
                <td class="swiper-slide">Электрический</td>
                <td class="swiper-slide">Электрический</td>
                <td class="swiper-slide">Электрический</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Тип очистки</td>
                <td class="swiper-slide">Пиролитическая</td>
                <td class="swiper-slide">Пиролитическая</td>
                <td class="swiper-slide">Пиролитическая</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">Дизайн</td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Цвет</td>
                <td class="swiper-slide">Чёрный</td>
                <td class="swiper-slide">Чёрный</td>
                <td class="swiper-slide">Чёрный</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">
                    Панель управления
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Тип управления</td>
                <td class="swiper-slide">Электронное</td>
                <td class="swiper-slide">Электронное</td>
                <td class="swiper-slide">Электронное</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Дисплей</td>
                <td class="swiper-slide">Есть</td>
                <td class="swiper-slide">Есть</td>
                <td class="swiper-slide">Есть</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Клавиши</td>
                <td class="swiper-slide">Сенсорные</td>
                <td class="swiper-slide">Сенсорные</td>
                <td class="swiper-slide">Сенсорные</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Переключатели</td>
                <td class="swiper-slide">Поворотные</td>
                <td class="swiper-slide">Поворотные</td>
                <td class="swiper-slide">Поворотные</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">
                    Режим эксперт духовой шкаф
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Общее количество функций</td>
                <td class="swiper-slide">9</td>
                <td class="swiper-slide">9</td>
                <td class="swiper-slide">9</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Конвекция</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Комбинированный нагрев</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Традиционный экономичный</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Поддержание в разогретом состоянии</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Разморозка</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Выпечка хлеба</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">
                    Камера духового шкафа
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Количество стекол дверцы духовки</td>
                <td class="swiper-slide">4</td>
                <td class="swiper-slide">4</td>
                <td class="swiper-slide">4</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Съёмных стёкол</td>
                <td class="swiper-slide">3</td>
                <td class="swiper-slide">3</td>
                <td class="swiper-slide">3</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Дверца с плавным закрыванием «Soft-close»</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Холодная дверца</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Объем, л</td>
                <td class="swiper-slide">73</td>
                <td class="swiper-slide">73</td>
                <td class="swiper-slide">73</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Внутреннее освещение</td>
                <td class="swiper-slide">Галогенное</td>
                <td class="swiper-slide">Галогенное</td>
                <td class="swiper-slide">Галогенное</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">
                    Энергопотребление
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Класс энергопотребления</td>
                <td class="swiper-slide">А</td>
                <td class="swiper-slide">А</td>
                <td class="swiper-slide">А</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">
                    Комплектация
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Решетки</td>
                <td class="swiper-slide">2</td>
                <td class="swiper-slide">2</td>
                <td class="swiper-slide">2</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Противень</td>
                <td class="swiper-slide">1</td>
                <td class="swiper-slide">1</td>
                <td class="swiper-slide">1</td>
            </tr>
            <tr class="characteristic__title swiper-wrapper">
                <td class="swiper-slide">
                    Размеры и вес
                </td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
                <td class="swiper-slide"></td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Размеры ниши для встраивания, В х Ш х Г, мм</td>
                <td class="swiper-slide">585 х 560 х 550</td>
                <td class="swiper-slide">585 х 560 х 550</td>
                <td class="swiper-slide">585 х 560 х 550</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Размеры прибора, В х Ш х Г, мм</td>
                <td class="swiper-slide">592 х 592 х 609</td>
                <td class="swiper-slide">592 х 592 х 609</td>
                <td class="swiper-slide">592 х 592 х 609</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Размеры камеры, В х Ш х Г, мм</td>
                <td class="swiper-slide">320 х 465 х 375</td>
                <td class="swiper-slide">320 х 465 х 375</td>
                <td class="swiper-slide">320 х 465 х 375</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Вес брутто, кг</td>
                <td class="swiper-slide">38</td>
                <td class="swiper-slide">38</td>
                <td class="swiper-slide">38</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Вес нетто, кг</td>
                <td class="swiper-slide">36</td>
                <td class="swiper-slide">36</td>
                <td class="swiper-slide">36</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Кабель без вилки в комплекте</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
                <td class="swiper-slide">Да</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Напряжение, В</td>
                <td class="swiper-slide">220-240</td>
                <td class="swiper-slide">220-240</td>
                <td class="swiper-slide">220-240</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Частота, Гц</td>
                <td class="swiper-slide">50-60</td>
                <td class="swiper-slide">50-60</td>
                <td class="swiper-slide">50-60</td>
            </tr>
            <tr class="characteristic__row swiper-wrapper">
                <td class="characteristic__name">Сила тока, А</td>
                <td class="swiper-slide">16</td>
                <td class="swiper-slide">16</td>
                <td class="swiper-slide">16</td>
            </tr>
        </tbody>
         <!-- If we need scrollbar -->
         <div class="swiper-scrollbar"></div>
        </div>
        <div class="swiper-pagination_2"></div>
        <div class="swiper-button-prev special-offers_prev"></div>
        <div class="swiper-button-next special-offers_next"></div>
    </table>
</div>