<div class="articles promotion">
        <div class="navchain">
                <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="" itemprop="item" href="/">De Dietrich</a>
                    </span>
                    »
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <span itemprop="item">Акции и статьи</span>
                    </span>
                </span>
            </div>
    <span class="articles__title">Акции и статьи</span>
    <div class="filter">
        <form class="filter__form closed" action="" method="get" id="products-filter">
            <input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">

            <div class="filter__item">
                <div class="filter__title">Материал</div>
                <div class="filter__checkbox">
                    <label>
                        <input class="checkbox filter_checkbox pers_data_check" type="checkbox" checked>
                        <span class="checkbox-custom"></span>
                        <i class="icon-check"></i>
                        Статьи
                    </label>
                    <label>
                        <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                        <span class="checkbox-custom"></span>
                        <i class="icon-check"></i>
                        Акции
                    </label>
                </div>
            </div>
            <div class="tags filter__item">
                <span class="filter__title tags__title">Теги</span>
                <ul class="tags__list">
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Духовые шкафы
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Советы
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Акции</a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Статьи</a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Кухня
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Ремонт
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Духовые шкафы
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Советы
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Акции</a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Статьи</a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Кухня
                        </a>
                    </li>
                    <li class="tags__item">
                        <a href="" class="tags__link">
                            Ремонт
                        </a>
                    </li>
                </ul>
            </div>
        </form>

        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="articles__items">
        <div class="articles__item">
            <img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Что делать, если индикатор горит, а варочная панель не работает?</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">9 причин вызвать мастера из сервисного центра и не пытаться устранить
                поломку самостоятельно</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Преимущества встраиваемых микроволновых печей De Dietrich</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">В коллекции De Dietrich представлены надежные и технологичные модели с
                высоким</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Обзор варочной панели De Dietrich DTG 1127 X</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">Модель сочетает удобство традиционного газового нагрева и широкие
                функциональные</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img">
            <span class="articles__text">ICS Система интеллектуального контроля у стиральных машин</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">Технический прогресс не стоит на месте, и сегодня компания De Dietrich
                предлагает «умные»</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Что делать, если индикатор горит, а варочная панель не работает?</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">9 причин вызвать мастера из сервисного центра и не пытаться устранить
                поломку самостоятельно</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Преимущества встраиваемых микроволновых печей De Dietrich</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">В коллекции De Dietrich представлены надежные и технологичные модели с
                высоким</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Обзор варочной панели De Dietrich DTG 1127 X</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">Модель сочетает удобство традиционного газового нагрева и широкие
                функциональные</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img">
            <span class="articles__text">ICS Система интеллектуального контроля у стиральных машин</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">Технический прогресс не стоит на месте, и сегодня компания De Dietrich
                предлагает «умные»</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Что делать, если индикатор горит, а варочная панель не работает?</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">9 причин вызвать мастера из сервисного центра и не пытаться устранить
                поломку самостоятельно</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Преимущества встраиваемых микроволновых печей De Dietrich</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">В коллекции De Dietrich представлены надежные и технологичные модели с
                высоким</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Обзор варочной панели De Dietrich DTG 1127 X</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">Модель сочетает удобство традиционного газового нагрева и широкие
                функциональные</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img">
            <span class="articles__text">ICS Система интеллектуального контроля у стиральных машин</span>
            <span class="articles__date">25 марта 2018</span>
            <span class="articles__info">Технический прогресс не стоит на месте, и сегодня компания De Dietrich
                предлагает «умные»</span>
        </div>
        {% include 'pagination/pagination.html' %}
    </div>
</div>