<div class="shipping-payment service">
    <div class="filter">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="shipping-payment__items">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Сервис</span>
                </span>
            </span>
        </div>
        <div class="shipping-payment__title articles-main__title">
            Сервис
        </div>
        <div class="shipping-payment__item">
            <img src="{{src}}service.png" alt="" class="shipping-payment__pic">
            <span class="shipping-payment__text">* — Штатное подключение техники De Dietrich на готовые коммуникации
                осуществляется бесплатно! Предложение не распространяется на газовые приборы, островные вытяжки и
                акционные модели.
            </span>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Стоимость услуг сервисного центра
            </span>
            <ul class="service__list shipping-payment__list">
                <li class="service__li shipping-payment__li">Вид услуги
                </li>
                <li class="service__li shipping-payment__li">
                    Стиральная, сушильная или посудомоечная машина</li>
                <li class="service__li shipping-payment__li">
                    Стиральная или посудомоечная машина под столешницу</li>
                <li class="service__li shipping-payment__li">
                    Варочная поверхность, духовой шкаф, микроволновая печь, пароварка, кофемашина</li>
                <li class="service__li shipping-payment__li">
                    Встраиваемая посудомоечная или стиральная машина</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка кассетная</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка каминная (купольная) шириной до 60 см</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка каминная (купольная) шириной до 90 см</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка наклонная пристенная до 60 см</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка наклонная пристенная до 90 см</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка островного типа (бетон)</li>
                <li class="service__li shipping-payment__li">
                    Вытяжка островного типа (гипсокартон)</li>
                <li class="service__li shipping-payment__li">
                    Отдельностоящий холодильник шириной до 60 см</li>
                <li class="service__li shipping-payment__li">
                    Встраиваемый холодильник</li>
                <li class="service__li shipping-payment__li">
                    Отдельностоящий холодильник Side-by-Side</li>
                <li class="service__li shipping-payment__li">
                    Холодильник Side-by-Side с подключением к воде (установка на место дальнейшей эксплуатации,
                    регулировка, подключение к коммуникациям</li>
                <li class="service__li shipping-payment__li">
                    Холодильник Side-by-Side из двух частей (установка на место дальнейшей эксплуатации, регулировка и
                    соединение отдельных частей)</li>
                <li class="service__li shipping-payment__li">
                    Холодильник Side-by-Side из двух частей с подключением к воде (установка на место дальнейшей
                    эксплуатации, регулировка и соединение отдельных частей, подключение к готовым коммуникациям)</li>
            </ul>
            <span class="shipping-payment__text">
                Выезд за МКАД — 40 руб./км
            </span>
            <ul class="about-us__list shipping-payment__list">
                Стандартная установка техники включает:
                <li class="about-us__li shipping-payment__li">
                    проверку качества коммуникаций;
                </li>
                <li class="about-us__li shipping-payment__li">
                    разблокировку;
                </li>
                <li class="about-us__li shipping-payment__li">
                    встраивание в мебель;
                </li>
                <li class="about-us__li shipping-payment__li">
                    выравнивание по уровню;
                </li>
                <li class="about-us__li shipping-payment__li">
                    установку на место дальнейшей эксплуатации;
                </li>
                <li class="about-us__li shipping-payment__li">
                    снятие транспортировочных креплений;
                </li>
                <li class="about-us__li shipping-payment__li">
                    подключение к готовым электрическим точкам;
                </li>
                <li class="about-us__li shipping-payment__li">
                    регулировку и соединение отдельных частей;
                </li>
                <li class="about-us__li shipping-payment__li">
                    очистку рабочей зоны и уборка мусора;
                </li>
                <li class="about-us__li shipping-payment__li">
                    постановку на гарантию.
                </li>
            </ul>
            <span class="shipping-payment__text">
                    Дополнительные работы и материалы оплачиваются по тарифам сервисной службы.
            </span>
            <span class="shipping-payment__text">
                    Минимальная стоимость выезда мастера — 1600 рублей.
            </span>
            <span class="shipping-payment__text">
                    Простой не по вине мастера, покупка дополнительных материалов — 700 рублей за 1 час.
            </span>
            <span class="shipping-payment__text">
                    Демонтаж старого прибора без выноса из квартиры — от 700 рублей.
            </span>
            <span class="shipping-payment__text">
                    Более подробную информацию вы можете получить по телефону
                <a href="tel:74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
            </span>
        </div>

    </div>
</div>