.service {
  display: flex;
  flex-wrap: wrap;

  // &__title {}

  // &__items {}

  // &__item {}

  // &__header {}

  // &__text {}

  &__list {
    z-index: 99;
    margin: 30px 0 0;
    list-style: none;
    font-family: "Gotham Pro Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    padding-left: 0;
    width: 100%;
  }

  &__li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    font-family: "Gotham Pro";
    padding-left: 13px;
    &:nth-child(odd){
      background-color: #f8f8f8;
    }

    &::before {
      display: none;
      content: "⯁";
      margin-right: 15px;
    }
  }
}