<div class="popup_container added-cart_popup">
	<a href="#" class="modal__close js-modal-close" onclick="return mnt.overlay.closePopup({popupID:'callback_popup'});"
	    title="Закрыть">×</a>
	<span class="title-strike abuse__title">Товар добавлен в корзину</span>
	<div class="added-cart__items">
		<div class="added-cart__item">
			<img src="images/basket.jpg" srcset="images/basket@2x.jpg 2x,images/basket@3x.jpg 3x" class="added-cart__img">
		</div>
		<div class="added-cart__item">
			<span class="added-cart__title">Духовой шкаф
				De Dietrich DOM1195GX</span>
			<span class="added-cart__key">Код товара: 327944</span>
			<span class="added-cart__price">122 750<b>руб.</b></span>
			<span class="added-cart__presence">в наличии</span>
		</div>
		<div class="added-cart__button">
			<a href="#" id="added-cart__back" class="added-cart__back js-modal-close">Продолжить покупки</a>
			<a class="added-cart__order" href="03 - Order Form.html">Перейти к оформлению</a><br>
		</div>
	</div>
</div>