.alert-404 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 35px;

  &__block {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    position: relative;
    justify-content: center;
    max-width: 511px;
    max-height: 511px;
  }

  &__button {
    position: absolute;
    width: 172px;
    height: 46px;
    border-radius: 2px;
    background-color: #aa6e4f;
    color: #ffffff;
    font-family: "Gotham Pro Medium";
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 130px;
  }

  .text__404 {
    position: absolute;
    bottom: 200px;
    width: 85%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
  }

  @media screen and (max-width: 480px) {
    img {
      width: 100%;
      height: 100%;
      max-width: 259px;
      max-height: 260px;
    }

    .text__404 {
      position: unset;
      width: 100%;
    }
    &__button {
      position: unset;
      margin-top: 20px;
    }

    &__block {
     
    }
  }
}