.special-offers {
    padding-top: 48.2px;
    padding-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1436px;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    overflow: hidden;


    .container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__title {
        font-family: 'Gotham Pro';
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #212121;
        margin-bottom: 40px;
    }

    &__slide {
        width: 272px;
        height: 392px;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
        justify-content: center;
    }

    &__text {
        font-family: 'Gotham Pro Medium';
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin-right: -4px;
        padding: 12px 0 24px;
        height: 100px;
    }

    &__sale {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    &__price {
        font-family: 'Gotham Pro Medium';
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
    }

    &__rub {
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
    }
    &__buy {
        height: 24px;
        padding: 7px 22px 5px;
        font-family: 'Gotham Pro Medium';
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        border-radius: 2px;
        background-color: #aa6e4f;
        display: flex;
        align-items: center;
    }
    .swiper-pagination{
        display: none;
    }
    .swiper-scrollbar{
        display: none;
    }
    .swiper-button-prev{
        background: url("../images/round-arrow-left.svg") 0/24px no-repeat;
        position: absolute;
        top: 20.9px;
        right: 100px;
        left: unset;
    }
    .swiper-button-next{
        background: url("../images/round-arrow-right.svg") 0/24px no-repeat;
        top: 20px;
        right: 50px;
    }
    @media screen and (max-width: 768px) {
        .special-offers {
            &__buy {
                padding: 0;
                color:transparent;
                background: url('https://icongr.am/entypo/shopping-cart.svg?color=ffffff')  #aa6e4f no-repeat;
                background-size: 18px;
                background-position: center 3px;
            }
        }
        .container {
            width: 95%;
        }
        .swiper-button-prev{
            top: 20.9px;
            right: 100px;
        }
        .swiper-button-next{
            top: 20px;
            right: 50px;
        }
    }
}