<div class="special-offers">
	{% include 'popup-added-cart/popup-added-cart.html' %}
	<div class="container">
		<span class="special-offers__title">Специальные предложения</span>
		<!-- Slider main container -->
		<div class="swiper-container swiper-container-two">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper special-offers__wrapper">
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
					<a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="" class="special-offers__buy">купить</a>
					</div>
				</div>
			</div>
			<!-- If we need pagination -->

			<!-- If we need navigation buttons -->
			<!-- If we need scrollbar -->
			<div class="swiper-scrollbar"></div>
		</div>
		<div class="swiper-pagination_2"></div>
		<div class="swiper-button-prev special-offers_prev"></div>
		<div class="swiper-button-next special-offers_next"></div>
	</div>

</div>