.articles-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  &__section {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    align-items: baseline;
  }

  .navchain {
    margin-bottom: 10px;
  }

  &__title {
    font-family: "Gotham Pro Medium";
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
    margin-bottom: 10px;
  }

  &__name {
    font-family: "Gotham Pro Medium";
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #aa6e4f;
    margin: 24px 0 0;
  }

  &__text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
    display: flex;
    flex-wrap: wrap;

    &_i {
      font-family: "Gotham Pro Medium";
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
      margin: 16px 0;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
  }

  .price__absolute {
    top: -15px !important;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #b0b0b0;
  }

  .articles {
    &__items {
      width: 25%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 25px;
      align-content: baseline;
    }

    &__title {
      margin-bottom: 29px;
    }

    &__item {
      width: 100%;
      margin-right: 0;
      align-content: baseline;
    }

    &__text {
      order: 1;
    }
  }

  .form__payment {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
    max-width: 100%;

    label {
      font-family: "Gotham Pro Medium";
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.29;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
      flex-basis: 200px;

      .sof-req {
        color: #aa6e4f;
      }
    }
  }

  .form__title {
    font-family: "Gotham Pro Medium";
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
  }

  .delivery_terms {
    background: url("../images/delivery__picture.png") 0 /15px no-repeat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    padding-left: 30px;
    margin-left: 65px;
  }

  .form__row {
    width: 100%;
    display: flex;
    padding: 12px 0;
    align-items: center;

    label {
      width: unset;
    }

    input,
    select {
      height: 46px;
      max-width: 372px;
      width: 100%;
    }

    textarea {
      max-width: 450px;
      width: 100%;
    }

    input,
    textarea,
    select {
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #cbcbcb;
      resize: none;
      padding-left: 15px;
    }
  }

  .item__title {
    display: none;
  }

  .form__button {
    width: 100%;
    padding-left: 225px;
    display: flex;
    flex-direction: column;

    label {
      flex-basis: 0;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      // color: #aa6e4f;
      margin: 31px 0 41px;

      a {
        color: #aa6e4f;
      }
    }

    input {
      width: 272px;
      height: 46px;
      border-radius: 2px;
      background-color: #aa6e4f;
      color: white;
      margin-left: -25px;
      text-transform: uppercase;
    }
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-slide {
    padding: 20px;
    transition: 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    }
  }

  .swiper-scrollbar {
    display: flex !important;
    width: 100%;
    height: 10px;
    border-radius: 8.5px;
    margin-top: 41px;

    &-drag {
      background-color: #aa6e4f;
    }
  }

  .reviews {
    max-width: 872px;

    &__title {
      height: 3px;
      border: solid 1px #eeeeee;
      width: 300%;
      margin-left: -100%;
      margin-top: 0;
      margin-bottom: 55px;
    }

    &__top {
      border: 0;
      padding: 0;
    }

    &__all {
      font-family: "Gotham Pro Medium";
      font-size: 26px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.92;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
      margin-left: 0;
    }

    &-list__col {
      width: 100% !important;
      font-weight: normal !important;
      line-height: 1.57 !important;
      font-family: "Gotham Pro" !important;
    }

    &-list__field_header {
      .reviews-list__col {
        width: 150px !important;
      }
    }
  }

  .add-comment__form {
    margin: 42px 0 0;
    background-color: #ffffff;
    border: solid 1px #ececec;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .add-comment__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4px;

    input,
    textarea {
      width: 50%;
      margin-bottom: 24px;
      resize: none;
      padding: 15px 19px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #cbcbcb;
    }

    input::placeholder,
    textarea::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
    }
  }

  .add-comment__name {
    display: none;
  }

  .add-comment__text {
    width: 50%;
    padding-left: 28px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  }

  @media screen and (max-width: 768px) {
    .reviews {
      max-width: 100%;
    }

    &__section {
      width: 100%;
    }

    .articles__items {
      display: none;
    }

    .articles-main__name {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #aa6e4f;
    }

    .articles-main__text {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #262626;

      &_i {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
      }
    }

    .articles-main__title {
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
    }
  }

  @media screen and (max-width: 480px) {
    .articles-main__title {
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
    }

    .articles-main__name {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: #aa6e4f;
    }

    .articles-main__text {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #262626;

      &_i {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
      }
    }

    .swiper-pagination_2 {
      display: flex;
      bottom: 10px !important;
      width: 100%;
      justify-content: center;
    }

    .swiper-scrollbar {
      display: none !important;
    }

    .swiper-pagination-bullet {
      margin: 0 5px;

      &-active {
        background: #aa6e4f !important;
      }
    }

    .reviews__top {
      padding: 0 !important;
      justify-content: unset !important;

    }

    .reviews__section {
      justify-content: flex-start !important;
    }

    .reviews__all {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
    }

    .reviews-list__field {
      flex-wrap: nowrap !important;
      align-items: baseline;
    }

    .reviews-list__col {
      margin-right: 0;
    }

    .add-comment__text {
      display: none;
    }

    .add-comment__row {

      input,
      textarea {
        width: 100%;
      }

      input::placeholder,
      textarea::placeholder {
        opacity: 0;
      }
    }

    .add-comment__name {
      display: flex;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
      align-items: baseline;

      .abuse-popup__req {
        font-size: 20px;
      }
    }

    .add-comment__title {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
      margin-bottom: 20px;
    }

    .add-comment__item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .abuse-popup__submit {
      width: 100%;
    }

    .add-comment__form {
      border: 0;
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}