<div class="articles articles-main">
    <div class="navchain">
        <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item" href="/">De Dietrich</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item">Акции и статьи</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="item">Уход за вытяжкой De Dietrich</span>
            </span>
        </span>
    </div>
    <div class="articles-main__section">
        <span class="articles-main__title">Уход за вытяжкой De Dietrich</span>
        <img src="images/article__main.jpg" srcset="images/article__main@2x.jpg 2x,images/article__main@3x.jpg 3x"
            class="special-offers__img catalog__img">
        <div class="articles-main__info">
            <span class="articles-main__name">Компания De Dietrich предлагает покупателям вытяжки разных модификаций:
                наклонные, каминные, встраиваемые с выдвижным модулем и без него. Но независимо от цвета,
                производительности и прочих характеристик, все их объединяет потребность в регулярном уходе, благодаря
                которому ваша кухонная вытяжка будет долго служить вам верой и правдой.</span>
            <span class="articles-main__text"><i class="articles-main__text_i">Внешняя очистка</i>Она заключается в
                очистке корпуса от пыли и жирной грязи, которая неизбежно скапливается на кухонных поверхностях.
                Несмотря на то, что такие загрязнения, как правило, удаляются с трудом, применять агрессивные средства
                ни в коем случае нельзя. Это касается и химических веществ (спирта, ацетона, порошков с абразивными
                частицами), и материалов, которыми вы производите уборку — недопустимо применение металлических
                подушечек или мочалок с жёстким чистящим слоем. Объясняется такое ограничение очень просто: все эти
                средства могут поцарапать стеклянные элементы и разъесть краску на металлических деталях вытяжки.
                Поэтому мыть корпус можно только мягкой губкой с мылом или мягким жидким моющим средством.</span>
            <span class="articles-main__text"><i class="articles-main__text_i">Замена угольного фильтра</i>Угольный
                фильтр применяется при работе вытяжки в режиме циркуляции, то есть без подключения прибора к
                вентиляционному каналу. Это одноразовая запчасть — после того, как он выработал свой ресурс, его надо
                выбросить и установить новый. Очень удобно, если ваша вытяжка оснащена индикатором загрязнения фильтра
                — как, например, модель DHD1193G. В противном случае время замены определяется, исходя из рекомендаций
                производителя и с учётом того, как часто вы включали прибор.</span>
            <span class="articles-main__text"><i class="articles-main__text_i">Мойка жироулавливающего фильтра</i>Жироулавливающий
                фильтр — это деталь, которая задерживает самые крупные частицы жира на входе в корпус вытяжки. Чаще
                всего он представляет собой многослойную алюминиевую сетку. В отличие от угольного, его не нужно
                выбрасывать после загрязнения, а можно просто помыть и вставить обратно. Оптимальный вариант — замочить
                фильтр в мыльном растворе, а затем помыть мягкой щёткой. Также допустима мойка в посудомоечной машине,
                но в этом случае он может немного обесцветиться (что, впрочем, не повлияет на его свойства).

                Что касается частоты этой процедуры, то здесь всё зависит от модели вытяжки. Например, в инструкции к
                DHG576XP1 производитель рекомендует мыть фильтр раз в два месяца, а к DHD 787 X — каждые 30 часов
                интенсивной эксплуатации. Поэтому в этом вопросе лучше всего ориентируйтесь на руководство
                пользователя, а также визуально оценивайте состояние фильтрующей сетки. Но, в любом случае, затягивать
                с этой процедурой не стоит, т. к. забитый жиром фильтр не только снижает эффективность очистки воздуха,
                но и может загореться.</span>
            <span class="articles-main__text"><i class="articles-main__text_i">Продлить срок службы</i>Помимо ухода,
                продлить срок службы вытяжки помогает правильная эксплуатация. Например, нельзя устанавливать вытяжку
                ниже определённого уровня над варочной поверхностью и готовить под ней на открытом огне. Кроме того,
                надо соблюдать требования производителя при замене ламп — устанавливать только подходящие по типу
                мощности. Это позволит свести к минимуму риск перегрева прибора и, как следствие, возгорания и пожара.</span>
        </div>
    </div>
    <div class="articles__items">
        <span class="articles__title">Другие новости</span>
        <div class="articles__item">
            <img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Что делать, если индикатор горит, а варочная панель не работает?</span>
            <span class="articles__date">25 марта 2018</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Преимущества встраиваемых микроволновых печей De Dietrich</span>
            <span class="articles__date">25 марта 2018</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img">
            <span class="articles__text">Обзор варочной панели De Dietrich DTG 1127 X</span>
            <span class="articles__date">25 марта 2018</span>
        </div>
        <div class="articles__item">
            <img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img">
            <span class="articles__text">ICS Система интеллектуального контроля у стиральных машин</span>
            <span class="articles__date">25 марта 2018</span>
        </div>
    </div>
    <div class="special-offers similar-models">
        <!-- Slider main container -->
        <div class="swiper-container swiper-container-two">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper special-offers__wrapper">
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence">в наличии</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                    </div>
                    <div class="catalog__existence">
                        <span class="catalog__presence grey">под заказ</span>
                        <a href="" class="catalog__simile">в сравнение</a>
                    </div>
                    <div class="announcing announcing__new"></div>
                    <div class="announcing announcing_two announcing__hit"></div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i><span class="price__absolute">122
                                750 руб.</span></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                    <div class="announcing announcing__sale"></div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence grey">под заказ</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide special-offers__slide">
                    <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                    <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                    <div class="catalog__specification">
                        <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                        <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                        <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                        <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                    </div>
                    <div class="special-offers__sale">
                        <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                        <a href="" class="special-offers__buy">купить</a>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->

            <!-- If we need navigation buttons -->
            <!-- If we need scrollbar -->

        </div>
        <div class="swiper-pagination_2"></div>
        <div class="swiper-button-prev special-offers_prev"></div>
        <div class="swiper-button-next special-offers_next"></div>
        <div class="swiper-scrollbar"></div>


    </div>
    <div class="reviews">
        <div class="reviews__title"></div>
        <div class="reviews__top">
            <div class="reviews__section">
                <span class="reviews__all">Комментарии 3</span>
            </div>
            <a href="/reviews/stiralnyie_mashinyi/" class="reviews__link">оставить комментарий</a>
        </div>
        <div class="reviews-list">
            <div class="reviews-list__item" itemscope="" itemtype="">
                <div class="reviews-list__field reviews-list__field_header">
                    <div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
                        <strong itemprop="name">Ирина</strong>
                    </div>
                    <div class="reviews-list__col reviews-list__col_date">
                        <meta itemprop="datePublished" content="2018-08-30">
                        28 января 2018
                    </div>
                </div>
                <div class="reviews-list__field">
                    <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                        В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни. Готовить на
                        ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить, а уже
                        готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции. Очень надежная
                        плита, советую всем.
                    </div>
                </div>
                <!-- /.reviews-list__field -->
                <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
            </div>
            <div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
                <div class="reviews-list__field reviews-list__field_header">
                    <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
                        <strong itemprop="name">Сергей</strong>
                    </div>
                    <div class="reviews-list__col reviews-list__col_date">
                        <meta itemprop="datePublished" content="2018-08-30">
                        28 января 2018
                    </div>
                </div>
                <div class="reviews-list__field">
                    <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                        Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
                        она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
                        просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
                        сомневались, что это наш выбор.
                    </div>
                </div>
                <!-- /.reviews-list__field -->
                <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
            </div>
            <div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
                <div class="reviews-list__field reviews-list__field_header">
                    <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
                        <strong itemprop="name">Олег</strong>
                    </div>
                    <div class="reviews-list__col reviews-list__col_date">
                        <meta itemprop="datePublished" content="2018-08-30">
                        28 января 2018
                    </div>
                </div>
                <div class="reviews-list__field">
                    <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                        В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни. Готовить на
                        ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить, а уже
                        готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции. Очень надежная
                        плита, советую всем.
                    </div>
                </div>
                <!-- /.reviews-list__field -->
                <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
            </div>
        </div>
        <form class="add-comment__form" action="" method="post" id="callback-form">
            <span class="form__title add-comment__title">Комментировать</span>
            <div class="add-comment__row">
                <strong class="add-comment__name">Ваш комментарий:<span class="abuse-popup__req callback__req">*</span></strong>
                <textarea rows="4" cols="40" name="ORDER_PROP_272" id="ORDER_PROP_272" placeholder="Ваш комментарий *"></textarea>
                <span class="add-comment__text">Комментарии публикуются после проверки
                    модераторами. Перед отправкой вашего
                    комментария убедитесь, что он не нарушает
                    правил модерации.</span>
            </div>
            <div class="add-comment__row">
                <strong class="add-comment__name">Ваше имя:<span class="abuse-popup__req callback__req">*</span></strong>
                <input type="text" name="phone" value="" id="input-phone" placeholder="Ваше имя *">
            </div>
            <div class="add-comment__row">
                <strong class="add-comment__name">Email:<span class="abuse-popup__req callback__req">*</span></strong>
                <input type="email" name="" value="" id="input-name" placeholder="Email *">
                <span class="add-comment__text">Email на сайте не публикуется. На вашу почту
                    придёт уведомление о статусе комментария.</span>
            </div>
            <div class="add-comment__item">
                <input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
            </div>
        </form>
    </div>
</div>