.footer {
	background-color: #2e2e2e;
	padding: 28px 0 19px;
	z-index: 3;
	position: relative;

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 25%;
	}

	&__row {
		width: 100%;
		display: flex;
		padding-top: 23px;
		align-items: center;
		flex: 1 1 100%;
		justify-content: space-between;
	}

	&__copyright {
		font-family: "Gotham Pro";
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.83;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
	}

	&__button {
		height: 24px;
		padding: 4px 10px 4px 11px;
		border-radius: 2px;
		border: solid 1px #979797;
		font-family: "Gotham Pro Medium";
		font-size: 10px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.4;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		display: flex;
		align-items: center;
		text-transform: uppercase;
	}

	&__text {
		font-family: "Gotham Pro";
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.92;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
	}

	&__tel {
		font-family: "Gotham Pro Medium";
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		text-align: left;
		color: #eeeeee;
		padding: 8px 0 13px;
	}

	&__telephones {
		width: 25%;
		display: flex;
		min-width: 203px;
	}

	@media screen and (max-width: 768px) {
		.footer {
			&__col {
				width: 33.3%;
				margin-bottom: 28px;

				&_last {
					width: 66.6%;
					margin-bottom: 14px;
					display: flex;
					flex-wrap: wrap;
				}
			}

			&__text {
				width: 50%;
				flex: 1 1 150px;

				&_first {
					order: 1;
				}

				&_two {
					order: 2;
				}

				&_three {
					order: 4
				}
			}

			&__tel {
				width: 50%;
				order: 3;
			}
		}
	}

	@media screen and (max-width: 480px) {
		padding: 0 0 19px;

		* {
			transition: 0.3s;
		}

		&__col {
			width: 100% !important;
			margin-bottom: 0 !important;

			&_three {
				.menu-footer {
					border-bottom: 1px solid #494949;
					margin-bottom: 20px;

					&__title {
						padding-bottom: 16px !important;
					}
				}
			}
		}

		&__row {
			flex-wrap: wrap;
		}

		&__copyright {
			width: 100%;
			text-align: center;
			margin-bottom: 16px;
		}

		&__telephones {
			margin: 0 auto;
			width: unset;
		}

		&__button {
			width: 288px;
			height: 32px;
			text-align: center;
			justify-content: center;
		}

		&__text {
			width: 100% !important;
			flex: 1 1 auto !important;

			&_first {
				order: 1;
			}

			&_two {
				order: 3 !important;
			}

			&_three {
				order: 4
			}
		}

		&__tel {
			width: 100% !important;
			flex: 1 1 auto !important;
			order: 2 !important;
		}

		.menu-footer {
			height: 53px;
			overflow: hidden;

			&__title {
				padding: 16px;
				border-top: 1px solid #494949;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=eeeeee") 97%/18px no-repeat;
			}

			&__item {
				padding: 5px 16px;
			}

			&__list {
				padding-bottom: 10px;
			}
		}

		.active {
			height: unset;
			overflow: unset;

			.menu-footer__title {
				background: url("https://icongr.am/entypo/chevron-up.svg?color=eeeeee") 97%/18px no-repeat;
			}
		}
	}
}

.menu-footer {
	&__title {
		font-family: "Gotham Pro Medium";
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #eeeeee;
	}

	&__link {
		font-family: "Gotham Pro";
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.92;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

.popup_container {
	position: fixed !important;
	width: 572px;
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%) !important;
	margin: auto !important;
	z-index: 1001;
	box-shadow: 0 0 10px -2px #748690;
	-moz-box-shadow: 0 0 10px -2px #748690;
	-webkit-box-shadow: 0 0 10px -2px #748690;
	padding: 35px 31px 27px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;

	&-active {
		display: flex;
	}

	@media screen and (max-width: 768px) {
		width: 83.78128982174505%;
	}

	@media screen and (max-width: 375px) {
		width: 100%;
		padding: 16px 16px 23px;
	}
}
	/* Скрываем реальный чекбокс */
	.checkbox {
		display: none;
	}

	/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
	.checkbox-custom {
		position: relative;
		/* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
		width: 20px;
		/* Обязательно задаем ширину */
		height: 20px;
		/* Обязательно задаем высоту */
		border: 2px solid #ccc;
		border-radius: 3px;
	}

	/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
	.checkbox-custom,
	.label {
		display: inline-block;
		vertical-align: middle;
	}

	/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
	.checkbox:checked+.checkbox-custom::before {
		content: "";
		/* Добавляем наш псевдоэлемент */
		display: block;
		/* Делаем его блочным элементом */
		position: absolute;
		/* Позиционируем его абсолютным образом */
		/* Задаем расстояние от верхней, правой, нижней и левой границы */
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		background: #aa6e4f;
		/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
		border-radius: 2px;
	}

	label {
		width: 60%;
	}
.abuse {
	&__title {
		font-family: "Gotham Pro Medium";
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;
		color: #2e2e2e;
		margin-bottom: 22px;
	}

	&-popup {
		&__text {
			font-family: "Gotham Pro";
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.57;
			letter-spacing: normal;
			text-align: left;
			color: #262626;
			margin-bottom: 32px;

			&-last {
				padding-bottom: 32px;
				border-bottom: solid 1px #d9d9d9;
			}
		}

		a,
		&__req {
			color: #aa6e4f;
			padding-right: 5px;
		}

		&__req {
			font-size: 14px;
		}

		&__item {
			display: flex;
			height: 46px;
			align-items: center;
			margin-bottom: 8px;
			justify-content: space-between;

			label {
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
				text-align: left;
				color: #666666;
			}

		
		}

		&__name {
			width: 40%;
			padding-right: 5%;
		}

		&__input,
		&__textarea {
			width: 60%;
			height: 100%;
			border-radius: 2px;
			background-color: #ffffff;
			border: solid 1px #cbcbcb;
			padding: 5px 15px;
			line-height: normal;
			resize: none
		}

		&__required {
			margin-left: 40%;
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
			color: #666666;
		}

		&__submit {
			width: 175px;
			height: 46px;
			border-radius: 2px;
			background-color: #aa6e4f;
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.71;
			letter-spacing: normal;
			color: #ffffff;
			text-transform: uppercase;
		}

		.modal__close {
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 24px;
		}

		@media screen and (max-width: 375px) {
			&-container {
				overflow-x: scroll;
				height: 100%;
			}

			&__text {
				max-width: 288px;

				&-last {
					max-width: 100%;
					padding-right: 60px;
				}
			}
			&__required {
				margin-left: 0;
			}

			&__item {
				height: unset;
				flex-wrap: wrap;
				label {
					width: 90%;
					padding-left: 25px; 
				}
			}
			&__submit {
				width: 100%;
			}

			&__name {
				width: 100%;
				height: 32px;
			}

			&__input,
			&__textarea {
				width: 100%;
				height: 46px;
			}
		}
	}
}