<div class="footer" id="js-footer">

	<div class="footer__inner">

		<div class="footer">
			<div class="footer__col">
				<nav class="menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__title">Приготовление пищи</li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/varochnye-paneli-gorenje/">Варочные
								панели</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Модульные
								системы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Духовые шкафы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/mikrovolnovye-pechi-gorenje/">Микроволновые
								печи</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vstraivaemye-parovarki-gorenje/">Пароварки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vytyazhki-gorenje/">Вытяжки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/kofemashiny-gorenje/">Кофемашины</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/plity-gorenje/">Плиты</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/shkafy-dlya-podogreva-posudy-gorenje/">Шкафы
								для подогрева посуды</a></li>
					</ul>
				</nav>
			</div>
			<!-- /.footer__col -->
			<div class="footer__col">
				<nav class="menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__title">Приготовление пищи</li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/varochnye-paneli-gorenje/">Варочные
								панели</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Модульные
								системы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Духовые шкафы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/mikrovolnovye-pechi-gorenje/">Микроволновые
								печи</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vstraivaemye-parovarki-gorenje/">Пароварки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vytyazhki-gorenje/">Вытяжки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/kofemashiny-gorenje/">Кофемашины</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/plity-gorenje/">Плиты</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/shkafy-dlya-podogreva-posudy-gorenje/">Шкафы
								для подогрева посуды</a></li>
					</ul>
				</nav>
				<nav class="menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__title">Приготовление пищи</li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/varochnye-paneli-gorenje/">Варочные
								панели</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Модульные
								системы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Духовые шкафы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/mikrovolnovye-pechi-gorenje/">Микроволновые
								печи</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vstraivaemye-parovarki-gorenje/">Пароварки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vytyazhki-gorenje/">Вытяжки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/kofemashiny-gorenje/">Кофемашины</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/plity-gorenje/">Плиты</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/shkafy-dlya-podogreva-posudy-gorenje/">Шкафы
								для подогрева посуды</a></li>
					</ul>
				</nav>
			</div>
			<!-- /.footer__col -->
			<div class="footer__col">
				<nav class="menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__title">Приготовление пищи</li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/varochnye-paneli-gorenje/">Варочные
								панели</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Модульные
								системы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/duhovye-shkafy-gorenje/">Духовые шкафы</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/mikrovolnovye-pechi-gorenje/">Микроволновые
								печи</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vstraivaemye-parovarki-gorenje/">Пароварки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/vytyazhki-gorenje/">Вытяжки</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/kofemashiny-gorenje/">Кофемашины</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/plity-gorenje/">Плиты</a></li>
						<li class="menu-footer__item"><a class="menu-footer__link" href="/moskva/shkafy-dlya-podogreva-posudy-gorenje/">Шкафы
								для подогрева посуды</a></li>
					</ul>
				</nav>
			</div>
			<!-- /.footer__col -->
			<div class="footer__col">
				<div class="footer__text"></div>
				<a href="" class="footer__tel"></a>
				<div class="footer__text"></div>
				<div class="footer__text"></div>
			</div>
			<!-- /.footer__col -->
		</div>
		<!-- /.footer__row -->

	</div>
	<!-- /.footer__inner -->
	<div class="footer__copyright">
		2019 &copy; All right reserved | KitchenMarket
	</div>
</div>
<!-- /.footer -->