.footer {
	background-color: #2e2e2e;
	padding: 28px 0 19px;
	z-index: 1000;
	position: relative;

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 25%;
		
	}

	&__row {
		width: 100%;
		display: flex;
		padding-top: 23px;
		align-items: center;
	}

	&__copyright {
		font-family: 'Gotham Pro';
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.83;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
		width: 75%;
	}

	&__button {
		height: 24px;
		padding: 4px 10px 4px 11px;
		border-radius: 2px;
		border: solid 1px #979797;
		font-family: 'Gotham Pro Medium';
		font-size: 10px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.4;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		display: flex;
		align-items: center;
	}

	&__text {
		font-family: 'Gotham Pro';
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.92;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
	}

	&__tel {
		font-family: 'Gotham Pro Medium';
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		text-align: left;
		color: #eeeeee;
		padding: 8px 0 13px;
	}
}

.menu-footer {
	&__title {
		font-family: 'Gotham Pro Medium';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #eeeeee;
	}

	&__link,
		{
		font-family: 'Gotham Pro';
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.92;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}