<div class="header__dropdown-menu ">
	<div class="container">
		<nav class="dropdown-menu dropdown-menu__first">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__back">назад</li>
				<li class="dropdown-menu__title">Приготовление пищи</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Варочные панели</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Модульные системы</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Духовые шкафы</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Микроволновые печи</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Пароварки</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Вытяжки</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Подогреватели посуды</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Кофемашины</a>
				</li>
			</ul>
		</nav>
		<nav class="dropdown-menu dropdown-menu__two">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__title">Мойка и стирка</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Стиральные машины</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Посудомоечные машины</a>
				</li>
			</ul>
		</nav>
		<nav class="dropdown-menu dropdown-menu__three">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__title">Охлаждение</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Холодильники</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="">Винные шкафы</a>
				</li>
			</ul>
		</nav>
		<div class="header__banner">
			<img src="images/banner.jpg" srcset="images/banner@2x.jpg 2x,images/banner@3x.jpg 3x" class="special-offers__img">
		</div>
	</div>
</div>