.all-reviews {
  display: flex;
  flex-wrap: wrap;

  .shipping-payment__item {
    border-bottom: 0;
  }

  .shipping-payment__title.articles-main__title {
    margin-bottom: 20px!important;
    margin-top: 15px;
  }

  &__top {
    border: 1px solid #e3e3e3 !important;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    height: 100px !important;
    position: relative;
    justify-content: unset !important;

    &-first {
      border-bottom: 0 !important;
    }

    &-last {
      border-top: 0 !important;
    }
  }

  .reviews__section {
    display: flex;
    flex-wrap: wrap;
  }

  .ratings {
    width: 100%;
    margin-left: -5px;
  }

  .filter__link {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gotham Pro";
  }

  &__text {
    width: 100%;
    color: #2e2e2e;
    font-family: "Gotham Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  &__border {
    right:20px;
    left: 20px;
    height: 2px;
    border: solid 1px #eeeeee;
    position: absolute;
    bottom: 0;
    max-width: 100%;
  }

  &__link {
    color: #2e2e2e;
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #2e2e2e;
    margin-right: 25px;
    text-decoration: none;

    &:hover {
      color: #aa6e4f;
    }

  }

  @media screen and (max-width: 768px) {
    .all-reviews__top {
      height: unset !important;
      min-height: 100px;
    }
  }

  @media screen and (max-width: 480px) {
    .reviews__section {

      .ratings,
      .all-reviews__text {
        width: 50%;
      }
    }

    .all-reviews__top-first {
      .ratings {
        width: 100% !important;
      }
    }

    .reviews__section {
      justify-content: end !important;
    }
  }
}