.all-reviews {
  display: flex;
  flex-wrap: wrap;

  .shipping-payment__item {
    border-bottom: 0;
  }

  &__top {
    border: 1px solid #e3e3e3 !important;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    height: 100px !important;
    position: relative;
    justify-content: unset !important;

    &-first {
      border-bottom: 0 !important;
    }

    &-last {
      border-top: 0 !important;
    }
  }

  .reviews__section {
    display: flex;
    flex-wrap: wrap;
  }

  .ratings {
    width: 100%;
    margin-left: -5px;
  }

  .filter__link {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gotham Pro";
  }

  &__text {
    width: 100%;
    color: #2e2e2e;
    font-family: "Gotham Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  &__border {
    width: 100%;
    height: 2px;
    border: solid 1px #eeeeee;
    position: absolute;
    bottom: 0;
  }

  &__link {
    color: #2e2e2e;
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #2e2e2e;
    margin-right: 25px;
    text-decoration: none;

    &:hover {
      color: #aa6e4f;
    }
  }
}