<div class="filter">
    <div class="filter__date">Обновление цен от 14 июля 2018 </div>
    <form class="filter__form closed" action="" method="get" id="products-filter">
        <input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">
        <div class="filter__item">
            <div class="filter__title">Цена, руб.</div>
            <div class="filter__container filter-slider-container" itemkey="316177">
                <div class="filter__price filter-price">
                    от
                    <input type="text" name="F[316177][MIN]" value="12990" class="input_min">
                    до
                    <input type="text" name="F[316177][MAX]" value="132480" class="input_max">
                </div>
                <div class="filter__slider slider__filter_range filter-slider slider-filter_range slider_filter_range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                    min="12990" max="132480" id="slider-range" minval="12990" maxval="132480" aria-disabled="false">
                    <div class="ui-slider-range ui-widget-header ui-corner-all">
                    </div>
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left:0"></a>
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="margin-right: 15px;"></a>
                </div>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__title">Тип управления</div>
            <div class="filter__checkbox">
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox" checked>
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Сенсорное
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Электромеханическое
                </label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__title">Режим очистки</div>
            <div class="filter__checkbox">
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Piroturbo
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Pyrocontrol
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    PyroControl Plus
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Pyromax
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Пиролитическая
                </label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__title">Тип духового шкафа</div>
            <div class="filter__checkbox">
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Multifunction Plus
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Multifunction Plus + Комбинированный режим с паром
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    Multifunction Plus + СВЧ
                </label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__title">Высота ниши, см</div>
            <div class="filter__checkbox">
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    45
                </label>
                <label>
                    <input class="checkbox filter_checkbox pers_data_check" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <i class="icon-check"></i>
                    60
                </label>
            </div>
        </div>
        <div class="filter__item item__close">
            <span class="close__filter">
                Открыть фильтр
            </span>
            <span class="close__filter">
                X  Закрыть фильтр
            </span>
        </div>
        <div class="filter__button">
            <input type="submit" name="" value="Показать" class="btn-sub">
            <span class="filter_reset" id="filter_reset">Сбросить фильтр</span>
        </div>
        <script type="text/javascript">

        </script>
    </form>
    {% include 'section/sidebar/sidebar.html' %}
</div>