.shipping-payment {
  display: flex;
  flex-wrap: wrap;

  .sidebar {
    padding: 0;
  }

  .navchain {
    margin-bottom: 0;
  }

  &__title {
    width: 100%;
    margin-bottom: 0;
  }

  &__items {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    max-width: 965px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
  }

  &__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    align-items: baseline;
    border-bottom: solid 1px #e2e2e2;
    padding-bottom:50px; 
    &:last-child{
      border: 0;
    }
  }

  &__header {
    font-family: "Gotham Pro Medium";
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    width: 100%;
    margin-top: 30px;
    &-color {
      color: #aa6e4f;
    }
  }

  &__text {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
    z-index: 99;
    margin-top: 30px;

    &-b {
      display: block;
      width: 100%;
      margin-bottom: 18px;
      font-family: "Gotham Pro Medium";
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
    }
    a{
      color: #aa6e4f;
    }
  }

  &__list {
    z-index: 99;
    margin: 30px 0 0;
    list-style: none;
    font-family: "Gotham Pro Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    padding-left: 0;
    width: 100%;
  }

  &__li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Gotham Pro';

    &::before {
      content: "⯁";
      margin-right: 15px;
    }

    &:first-child {
      margin-top: 20px;
    }
  }

  &__pic {
    margin: 34px 0 24px;
  }

  &__number {
    font-family: "Gotham Pro Medium";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
  }
}