<div class="shipping-payment">
    <div class="filter">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="shipping-payment__items">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Доставка и оплата</span>
                </span>
            </span>
        </div>
        <div class="shipping-payment__title articles-main__title">
            Доставка и оплата
        </div>
        <div class="shipping-payment__item">
            <img src="{{src}}shipping-payment.png" alt="" class="shipping-payment__pic">
            <span class="shipping-payment__header">
                Доставка по Москве и Московской области
            </span>
            <span class="shipping-payment__text">Бытовая техника De Dietrich доставляется бесплатно в пределах
                МКАД.Стоимость доставки по Московской области за пределы МКАД — 30 руб./км.</span>
            <span class="shipping-payment__text">Доставка бытовой техники по Москве и Московской области осуществляется
                с помощью курьерской службы. Служба доставки работает без выходных.</span>
            <ul class="about-us__list shipping-payment__list">
                Время доставки
                <li class="about-us__li shipping-payment__li">с 12:00 до 18:00</li>
                <li class="about-us__li shipping-payment__li">с 16:00 до 24:00</li>
            </ul>
            <span class="shipping-payment__text">Если заказ сделан до 16:00, он может быть доставлен на следующий день
                при условии наличия товара на складе. Если заказ сделан после 16:00, он доставляется через день.
                Подробности вы можете уточнить у менеджеров интернет-магазина по телефону
                <a href="tel:74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
            </span>
            <ul class="about-us__list shipping-payment__list">
                Условия доставки
                <li class="about-us__li shipping-payment__li">При безналичной оплате товар доставляется в течение трех
                    дней с момента поступления денег на счет.</li>
                <li class="about-us__li shipping-payment__li">Приобретенная в нашем интернет-магазине техника
                    доставляется по фактическому адресу.</li>
                <li class="about-us__li shipping-payment__li">При оформлении заявки необходимо указать точный адрес
                    доставки, в том числе: улицу, дом, номер квартиры или офиса.</li>
                <li class="about-us__li shipping-payment__li">В лесные массивы, на пляжи, в парки и на пустыри доставка
                    техники не осуществляется.</li>
                <li class="about-us__li shipping-payment__li">Доставка товара в офисные здания и на территорию
                    предприятия осуществляется до контрольно-пропускного пункта или проходной.</li>
                <li class="about-us__li shipping-payment__li">Курьер ждет не более 15 минут.</li>
                <li class="about-us__li shipping-payment__li">Если курьер вынужден воспользоваться платной парковкой,
                    ее стоимость оплачивает заказчик.</li>
                <li class="about-us__li shipping-payment__li">В случае превышения времени стоянки в центре Москвы
                    стоимость доставки увеличивается на 50 рублей.</li>
            </ul>
            <ul class="about-us__list shipping-payment__list">
                Стоимость ручного подъема при отсутствии лифта
                <li class="about-us__li shipping-payment__li">Малая бытовая техника до 7 кг — бесплатно</li>
                <li class="about-us__li shipping-payment__li">от 7 до 15 кг — 50 руб. за этаж</li>
                <li class="about-us__li shipping-payment__li">от 15 кг — 100 руб. за этаж</li>
                <li class="about-us__li shipping-payment__li">Духовые шкафы, вытяжки 60 и 90 см, купольные вытяжки,
                    варочные панели, встраиваемые микроволновые печи, декоративные панели, подогреватели посуды,
                    встраиваемые кофемашины, стиральные, сушильные машины, посудомоечные машины, плиты — 100 руб. за
                    этаж</li>
                <li class="about-us__li shipping-payment__li">Стандартные холодильники и морозильники — 150 руб. за
                    этаж</li>
                <li class="about-us__li shipping-payment__li">Холодильники Side-by-Side, а также негабаритный и
                    крупногабаритный товар — 400 руб.* за этаж</li>
            </ul>
            <span class="shipping-payment__text">* — Итоговая стоимость зависит от габаритов прибора и условий подъема.
            </span>
            <span class="shipping-payment__text"><b class="about-us__text-b shipping-payment__text-b">Стоимость
                    подъема на лифте соответствует стоимости подъема на 1 этаж.</b>Бытовая техника доставляется в
                квартиру, если есть свободный проход. Грузчики и экспедиторы не имеют права демонтировать ручки и двери
                приборов, которые создают помехи при транспортировке, так как впоследствии сервисный центр может
                отказаться проводить гарантийный ремонт.
            </span>
            <span class="shipping-payment__text">Если курьер не застал покупателя на месте или не смог до него
                дозвониться, доставка не будет осуществлена, но ее можно перенести на другое время по согласованию с
                менеджером.</span>
            <span class="shipping-payment__text">По вопросам, которые касаются заказа и доставки, можно обратиться к
                менеджеру по телефону
                <a href="tel:74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
            </span>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Осмотр и проверка техники
            </span>
            <span class="shipping-payment__text">При получении товара внимательно проверьте его целостность,
                комплектацию и отсутствие следов установки. После подписания договора техника не может быть возвращена
                из-за внешнего вида, в соответствии со статьями 458 и 459 ГК РФ. Требования ст. 484 ГК РФ обязательны к
                выполнению, несмотря на загрязнение товара и малую освещенность помещения.
            </span>
            <span class="shipping-payment__text">Если Вы обнаружили скрытый дефект в товаре, просьба сообщить об этом
                по телефону +7 (495) 565-39-90
                Обмен товара или возврат денежных средств Покупателю осуществляется после проведения экспертизы
                сервисного центра.
            </span>
            <span class="shipping-payment__text">
                Вы можете отказаться от товара, если его качество вас не устраивает, в любое время до подписания
                документов, а также в течение семи дней после передачи. Обмен или возврат возможен при выполнении
                следующих условий:
            </span>
            <ul class="about-us__list shipping-payment__list">
                <li class="about-us__li shipping-payment__li">техника не эксплуатировалась;</li>
                <li class="about-us__li shipping-payment__li">прибор не утратил потребительских свойств и товарный вид;</li>
                <li class="about-us__li shipping-payment__li">сохранились товарный и кассовый чеки, а также инструкция,
                    упаковка, пломбы и ярлыки;</li>
                <li class="about-us__li shipping-payment__li">у товара нет механических повреждений: вмятин, трещин,
                    царапин и сколов;</li>
                <li class="about-us__li shipping-payment__li">техника не входит в перечень товаров, которые не подлежат
                    возврату и обмену (перечень таких товаров утвержден Постановлением Правительства РФ №55 от 19
                    января 1998 года).</li>
            </ul>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Доставка в регионы России
            </span>
            <span class="shipping-payment__text">
                «ЖелДорЭкспедиция» — <a href="https://www.jde.ru/online/calculator.html" rel="nofollow">Калькулятор</a>
            </span>
            <span class="shipping-payment__text">
                «ПЭК» — <a href="https://www.jde.ru/online/calculator.html" rel="nofollow">Калькулятор</a>
            </span>
            <span class="shipping-payment__text">
                «КИТ» — <a href="https://www.jde.ru/online/calculator.html" rel="nofollow">Калькулятор</a>
            </span>
            <span class="shipping-payment__text">
                <b class="shipping-payment__text-b">Оформление заказа</b>
                Необходимо указать телефон и адрес электронной почты, чтобы менеджер мог с Вами связаться и согласовать
                детали заказа, а также выслать счет на оплату товара, в который входит также стоимость доставки товара
                до склада транспортной компании.
            </span>
            <span class="shipping-payment__header shipping-payment__header-color">Внимание! Доставка в регионы
                осуществляется по
                стопроцентной предоплате!</span>
            <span class="shipping-payment__text">
                <b class="shipping-payment__text-b">Оплата</b>
                В течение трех рабочих дней после оформления заказа его нужно оплатить в любом банке России. Как только
                денежные средства поступают на наш счет, товар резервируется на складе. В случае отсутствия техники на
                складе, менеджер интернет-магазина поможет выбрать другой товар либо оформить документы для возврата
                денег.
            </span>
            <span class="shipping-payment__text">
                <b class="shipping-payment__text-b">Отгрузка</b>
                Отгрузка техники со склада торговой компании в Москве происходит в течение 3 рабочих дней после оплаты.
                Когда товар будет отправлен, на Вашу электронную почту придет письмо с подтверждением, в котором будет
                указан номер товарной накладной. На сайте транспортной компании по этому номеру всегда можно проследить
                актуальный статус груза.
            </span>
            <span class="shipping-payment__text">
                <b class="shipping-payment__text-b">Сроки доставки</b>
                Сроки получения товара сообщает менеджер после оформления заказа. Транспортная компания доставляет
                товар до регионального склада либо по указанному адресу. Способ получения можно согласовать со
                специалистами транспортной компании.
            </span>
            <span class="shipping-payment__text">
                <b class="shipping-payment__text-b">Получение товара</b>
                Для получения товара необходимо предоставить:
                <ul class="about-us__list shipping-payment__list">
                    <li class="about-us__li shipping-payment__li">физическим лицам — паспорт гражданина РФ;</li>
                    <li class="about-us__li shipping-payment__li">юридическим лицам — паспорт и доверенность на
                        получение груза.</li>
                </ul>
            </span>
            <span class="shipping-payment__text">
                <b class="shipping-payment__text-b">Условия продажи товара физическим лицам</b>
                Оформляя заказ в специализированном магазине De Dietrich, вы соглашаетесь
                <a href="agreement.php">условиями продажи товара физическим лицам</a>
            </span>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Способы оплаты
            </span>
                <span class="shipping-payment__text">
                    <b class="shipping-payment__text-b">Наличный расчет</b>
                    Клиент оплачивает стоимость заказа при доставке.
                </span>
                <span class="shipping-payment__text">
                    <b class="shipping-payment__text-b">Оплата картой*</b>
                    *Допускается оплата картами: Visa / Visa Electron / MasterCard / MasterCard Electronic / Maestro.
                    Необходимо заранее уточнить у менеджера возможность оплаты картой.
                </span>
                <span class="shipping-payment__text">
                    <b class="shipping-payment__text-b">Оплата по безналичному расчету</b>
                    На электронную почту клиента, юридического или физического лица, высылается счет на оплату. Срок
                    действия счета на предоплату — 3 дня.
                </span>
                <span class="shipping-payment__text">
                    Счета-фактуры и товарные накладные передаются из офиса перед началом работы, с утра. Срок действия
                    документов — один день, поэтому рекомендуется выбрать и согласовать дату получения товара до 16:00
                    предыдущего дня.
                </span>
                <span class="shipping-payment__text">
                    Техника отгружается представителям юридического лица либо специалистам транспортной компании только
                    при наличии доверенности на получение товара.
                </span>
        </div>
    </div>
</div>