<div class="product-card">
        {% include 'popup-added-cart/popup-added-cart.html' %}
    <div class="product-card__slider">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <div class="announcing announcing__sale"></div>
                    <div class="announcing announcing_two announcing__hit"></div>
                </div>
                <div class="swiper-slide">
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/raVhpEtOh9U" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/raVhpEtOh9U" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__info">
        <span class="product-card__title">Духовой шкаф</span>
        <span class="product-card__model">De Dietrich DOM1195GX</span>
        <span class="product-card__key">Код товара: 327944</span>
        <span class="product-card__date">Обновление цен от 14 июля 2018 </span>
        <span class="product-card__price color">122 750 <b>руб.</b><span class="price__absolute">122 750 руб.</span></span>
        <span class="catalog__presence product-card__presence">в наличии</span>
        <div class="product-card__button">
            <a href="" class="product-card__buy">купить</a>
            <a href="" class="product-card__icons">
                <span href="" class="product-card__match"> Добавить к сравнению</span>
            </a>
        </div>
        <div class="product-card__description">
            <span class="description__title">Описание</span>
            <span class="description__text">Это электрический мультифункциональный духовой шкаф шириной 60 см. Есть
                режимы гриля и конвекции. Очистка традиционная, освещение галогенное. Модель оснащена дисплеем. Дверца
                имеет механизм плавного закрывания, внутри камеры установлены телескопические направляющие,
                выдвигающиеся на 2/3 длины.</span>
            <a href="" class="catalog-back">Вернуться в каталог</a>
        </div>
    </div>
    <div class="product-card__slider">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <div class="announcing announcing__new"></div>
                    <div class="announcing announcing_two announcing__hit"></div>
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div> -->
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__info">
        <span class="product-card__title">Духовой шкаф</span>
        <span class="product-card__model">De Dietrich DOM1195GX</span>
        <span class="product-card__key">Код товара: 327944</span>
        <span class="product-card__date">Обновление цен от 14 июля 2018 </span>
        <span class="product-card__price grey">122 750 <b>руб.</b><span class="delivery-time">Ожидаемый срок поставки
            25 августа 2018</span></span>
        <span class="catalog__presence product-card__presence grey">нет в наличии</span>
        <div class="product-card__button">
            <!-- <a href="" class="product-card__buy">купить</a> -->
            <a href="" class="product-card__icons">
                <span href="" class="product-card__match"> Добавить к сравнению</span>
            </a>
        </div>
        <div class="product-card__description">
            <span class="description__title">Описание</span>
            <span class="description__text">Это электрический мультифункциональный духовой шкаф шириной 60 см. Есть
                режимы гриля и конвекции. Очистка традиционная, освещение галогенное. Модель оснащена дисплеем. Дверца
                имеет механизм плавного закрывания, внутри камеры установлены телескопические направляющие,
                выдвигающиеся на 2/3 длины.</span>
            <a href="" class="catalog-back">Вернуться в каталог</a>
        </div>
    </div>
    <div class="product-card__slider">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div> -->
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__info">
        <span class="product-card__title">Духовой шкаф</span>
        <span class="product-card__model">De Dietrich DOM1195GX</span>
        <span class="product-card__key">Код товара: 327944</span>
        <span class="product-card__date">Обновление цен от 14 июля 2018 </span>
        <span class="product-card__price"><b>Снят с производства</b></span>
        <span class="catalog__presence product-card__presence"></span>
        <div class="product-card__button remove">
            <a href="" class="product-card__buy">посмотреть аналогичные товары</a>
        </div>
        <div class="product-card__description">
            <span class="description__title">Описание</span>
            <span class="description__text">Это электрический мультифункциональный духовой шкаф шириной 60 см. Есть
                режимы гриля и конвекции. Очистка традиционная, освещение галогенное. Модель оснащена дисплеем. Дверца
                имеет механизм плавного закрывания, внутри камеры установлены телескопические направляющие,
                выдвигающиеся на 2/3 длины.</span>
            <a href="" class="catalog-back">Вернуться в каталог</a>
        </div>
    </div>
</div>