<div class="catalog main__catalog">
    {% include 'popup-added-cart/popup-added-cart.html' %}
    <div class="catalog__sorting">
        <ul class="catalog__ul">
            Сортировать по:
            <li class="catalog__li"><a href="#" sort="popular" order="ASC" class="catalog__sort"><span>популярности</span><i></i></a></li>
            <li class="catalog__li"><a href="#" sort="new" order="ASC" class="catalog__sort"><span>новизне</span><i></i></a></li>
            <li class="catalog__li"><a href="#" sort="price" order="DESC" class="catalog__sort"><span>цене</span><i></i></a></li>
        </ul>
        <div class="sorting__info">
            <span class="sorting__number">94</span><span class="sorting__number">позиции</span>
        </div>
    </div>
    <div class="catalog__items">
        <div class="catalog__item">
            <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="product-card.html" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="product-card.html" class="special-offers__text catalog__text">60cm 4 Burner Gas on Glass Hob</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">98 400<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
            <div class="announcing announcing__new"></div>
            <div class="announcing announcing_two announcing__hit"></div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="#" class="special-offers__text catalog__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">115 000<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
            <div class="announcing announcing__sale"></div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_4.jpg" srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="#" class="special-offers__text catalog__text">90cm Vertical Decorative Hood Grey</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="#" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence grey">под заказ</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
        </div>
        <div class="catalog__item stock">
            <img class="stock_img" src="images/Catalog_stock.jpg" srcset="images/Catalog_stock@2x.jpg 2x,images/Catalog_stock@3x.jpg 3x"
                alt="">
            <div class="stock__info">
                <span class="stock__title">АКЦИЯ</span>
                <span class="stock__text">Крупный заголовок какой-то акции!</span>
                <a class="stock__link" href=""><span class="stock__arrow"></span></a>
            </div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="product-card.html" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="product-card.html" class="special-offers__text catalog__text">60cm 4 Burner Gas on Glass Hob</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">98 400<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
            <div class="announcing announcing__new"></div>
            <div class="announcing announcing_two announcing__hit"></div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="#" class="special-offers__text catalog__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">115 000<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
            <div class="announcing announcing__sale"></div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_4.jpg" srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="#" class="special-offers__text catalog__text">90cm Vertical Decorative Hood Grey</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="#" class="special-offers__text  catalog__text">90cm Curved Decorative Hood</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence grey">под заказ</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
        </div>
        <div class="catalog__item">
            <img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x" class="special-offers__img catalog__img">
            <a href="product-card.html" class="special-offers__text catalog__text">60cm 4 Burner Gas on Glass Hob</a>
            <div class="catalog__specification">
                <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
            </div>
            <div class="special-offers__sale catalog__sale">
                <span class="special-offers__price catalog__price">98 400<i class="special-offers__rub catalog__rub">руб.</i></span>
                <a href="" class="special-offers__buy">купить</a>
            </div>
            <div class="catalog__existence">
                <span class="catalog__presence">в наличии</span>
                <a href="" class="catalog__simile">в сравнение</a>
            </div>
            <div class="announcing announcing__new"></div>
            <div class="announcing announcing_two announcing__hit"></div>
        </div>
    </div>
    {% include 'pagination/pagination.html' %}
    <div class="tags__status">
        <a href="" class="tags__element">Встраиваемые</a>
        <a href="" class="tags__element">Газовые</a>
    </div>
    <div class="catalog__description description">
        <span class="description__title">Духовые шкафы De Dietrich</span>
        <span class="description__text">Духовые шкафы De Dietrich — это изысканное сочетание стекла и нержавеющей
            стали, классических форм и новейших технологий, точной электроники и фантазии конструкторов. Модели
            характеризуются низким потреблением электроэнергии, расширенным функционалом и возможностью работы с
            программами автоматического приготовления. Для опытных кулинаров компания De Dietrich предлагает духовые
            шкафы, оборудованные программами «Эксперт» с возможностью самостоятельно устанавливать оптимальные
            параметры температуры и времени.</span>
        <span class="description__text">Духовые шкафы De Dietrich оснащены удобными и понятными панелями управления.
            Дисплей Color Matrix предоставляет доступ к функциям интеллектуальной системы приготовления ISC,
            «Кулинарной книге» и режимам приготовления при низкой температуре. Усовершенствованный матричный экран
            Matrix Black on White высвечивает все данные на дисплее LCD и тем самым обеспечивает комфортное восприятие
            информации. Дисплей Twin HIFI с подсветкой информирует о ходе процесса приготовления блюда, рекомендует
            идеальный уровень для установки посуды в духовке, способ приготовления, температуру и продолжительность
            процесса жарки, запекания или томления.</span>
    </div>
    <div class="reviews">
        <div class="reviews__title">Отзывы о духовых шкафах De Dietrich</div>
        <div class="reviews__top">
            <div class="reviews__section">
                <div class="ratings">
                    <div class="ratings__star"></div>
                    <div class="ratings__star"></div>
                    <div class="ratings__star"></div>
                    <div class="ratings__star"></div>
                    <div class="ratings__star ratings__none"></div>
                </div>
                <a href="" class="reviews__all">2 отзыва</a>
            </div>
            <a href="/reviews/stiralnyie_mashinyi/" class="reviews__link">Все отзывы</a>
        </div>
        <div class="reviews-list">
            <div class="reviews-list__item" itemscope="" itemtype="">
                <div class="reviews-list__field reviews-list__field_header">
                    <div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
                        <strong itemprop="name">Ирина</strong>
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        <div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star ratings__none"></div>
                        </div>
                    </div>
                    <div class="reviews-list__col reviews-list__col_date">
                        <meta itemprop="datePublished" content="2018-08-30">
                        28 января 2018 </div>
                </div>
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Модель:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        <a class="reviews-list__model" href="">Духовой шкаф De Dietrich DOM1195GX</a>
                    </div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Достоинства:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
                        она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
                        просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
                        сомневались, что это наш выбор. </div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Недостатки:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это быстро
                        решается покупкой этой утвари отдельно. </div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Комментарий:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                        В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни. Готовить на
                        ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить, а уже
                        готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции. Очень надежная
                        плита, советую всем.</div>
                </div>
                <!-- /.reviews-list__field -->
                <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
            </div>
            <div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
                <div class="reviews-list__field reviews-list__field_header">
                    <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
                        <strong itemprop="name">Олег</strong>
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        <div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star ratings__none"></div>
                        </div>
                    </div>
                    <div class="reviews-list__col reviews-list__col_date">
                        <meta itemprop="datePublished" content="2018-08-30">
                        28 января 2018</div>
                </div>
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Модель:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        <a class="reviews-list__model" href="/catalog/stiralnyie_mashinyi/siemens_wd_15h541_oe.php">Духовой
                            шкаф De Dietrich DOM1195GX</a>
                    </div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Достоинства:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
                        она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
                        просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
                        сомневались, что это наш выбор.</div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Недостатки:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это быстро
                        решается покупкой этой утвари отдельно.</div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Комментарий:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                        В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни. Готовить на
                        ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить, а уже
                        готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции. Очень надежная
                        плита, советую всем.</div>
                </div>
                <!-- /.reviews-list__field -->
                <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
            </div>
        </div>
    </div>
</div>