.catalog {
    width: calc((100% / 12) * 9);
    margin-left: auto;

    * {
        transition: 0.4s;
    }

    &__sorting {
        display: flex;
        margin-bottom: 31px;
        justify-content: space-between;
    }

    .sorting__info {
        display: flex;
    }

    .sorting__number {
        font-family: "Gotham Pro";
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        display: flex;
        align-items: center;

        &:first-child {
            padding-right: 5px;
        }
    }

    &__ul {
        display: flex;
        list-style: none;
        margin-bottom: 0;
        align-items: center;
        padding: 0;
        font-family: "Gotham Pro Medium";
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
    }

    &__li {
        margin-right: 27px;
        display: flex;
        height: 28px;

        &:first-child {
            margin-left: 19px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__sort {
        padding: 2px 10px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: left;
        color: #aa6e4f;
        font-family: "Gotham Pro";
        border: solid 1px #ae7557;
        border-radius: 4px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    &__item {
        width: calc(((100% / 12) * 4)-28px);
        margin-right: 28px;
        margin-bottom: 12px;
        padding: 24px;
        position: relative;
        border-bottom: 1px solid #eeeeee;

        &:hover {
            box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
        }

        .announcing {
            width: 46px;
            height: 46px;
            position: absolute;
            top: 12px;
            left: 12px;

            &_two {
                top: 64px;
            }

            &__new {
                background: url("../images/new.svg") no-repeat;
                background-size: contain;
            }

            &__hit {
                background: url("../images/hit.svg") no-repeat;
                background-size: contain;
            }

            &__sale {
                background: url("../images/sale.svg") no-repeat;
                background-size: contain;
            }
        }
    }

    &__specification {
        display: flex;
        flex-wrap: wrap;
        margin: 6px 0 18px;
    }

    &__feature {
        font-family: "Gotham Pro";
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
    }

    &__bold {
        font-weight: 500;
        font-family: "Gotham Pro Medium";
    }

    &__existence {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        flex-wrap: wrap;
    }

    &__presence {
        font-family: "Gotham Pro";
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #03a619;
    }

    .grey {
        color: #666666;
    }

    &__simile {
        font-family: "Gotham Pro";
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        border-bottom: 1px dashed #2e2e2e;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .stock {
        padding: 0;

        &__info {
            position: absolute;
            top: 0;
            left: 0;
            padding: 18px 24px 0;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: 1120px) {
                .stock__text {
                    font-size: 26px;
                }
            }
        }

        &__title {
            width: 100%;
            font-family: "Gotham Pro Medium";
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #aa6e4f;
        }

        &__text {
            font-family: "Gotham Pro Medium";
            font-size: 38px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.08;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
            margin: 10px 0 21px;
        }

        &__link {
            width: 40px;
            height: 40px;
            transform: rotate(-45deg);
            border-radius: 4px;
            background-image: linear-gradient(315deg, #d89872, #aa6e4f);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__arrow {
            background: url("../images/shape1.svg") 0/16px no-repeat;
            width: 16px;
            height: 16px;
            transform: rotate(45deg);
        }
    }

    .tags {
        &__status {
            width: 100%;
            height: 48px;
            background-color: #eeeeee;
            display: flex;
            align-items: center;
        }

        &__element {
            font-family: "Gotham Pro";
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.33;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
            margin-left: 26px;
        }
    }

    .description {
        padding: 45px 0 37px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #eeeeee;

        &__title {
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.92;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
            width: 100%;
        }

        &__text {
            margin-top: 27px;
            font-family: GothamPro;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
            font-family: "Gotham Pro";
        }
    }
}

.reviews {
    &__title {
        font-family: "Gotham Pro Medium";
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: left;
        color: #262626;
        margin: 46px 0 34px;
    }

    &__top {
        height: 60px;
        background-color: #ffffff;
        border: solid 1px #eeeeee;
        display: flex;
        align-items: center;
        padding: 0 12px 0 18px;
        justify-content: space-between;
    }

    &__all {
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin-left: 20px;
    }

    &__link {
        font-family: "Gotham Pro Medium";
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 7px 24px;
        border-radius: 2px;
        background-color: #aa6e4f;
        text-transform: uppercase;
    }

    &__section {
        display: flex;
    }

    &-list {
        &__field {
            display: flex;
            // margin-bottom: 19px;
            // &:last-child{
            //     margin-bottom: 0;
            // }
            padding: 9.5px 0;
        }

        &__col {
            &:first-child {
                width: 200px;
                flex-shrink: 0;
                font-family: 'Gotham Pro Medium';
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #262626;
            }

            &[itemprop="author"] {
                font-family: 'Gotham Pro Medium';
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #262626;
            }

            &_date {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #2e2e2e;
            }

            &_desc {
                margin-right: 5px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: normal;
                text-align: left;
                color: #262626;
            }
        }

        &__model {
            font-family: 'Gotham Pro Medium';
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
        }

        &__item {
            padding: 39px 0 37px;
            border-bottom: 1px solid #eeeeee;
        }
    }

    .ratings {
        display: flex;

        &__star {
            width: 24px;
            height: 24px;
            background: url("../images/star.svg") no-repeat;
            background-position: center;
            background-size: 21px 20px;
        }

        &__none {
            background: url("../images/rectangle-2.svg") no-repeat;
            background-position: center;
            background-size: 21px 20px;
        }
    }
}