.sidebar {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 0;
}

* {
    transition: 0.4s;
}

.work-link {
    margin: 0 0 28px 0;
    width: 100%;
    padding: 12px 0 18px 40px;
    background-color: #ffffff;
    border: solid 1px #eeeeee;

    &:hover {
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    }

    &__a {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin-left: -5px;
    }

    &__item {
        padding: 5px 0;
    }
}

.yandex {
    width: 100%;
    margin: 0 0 28px 0;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    padding: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:hover {
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    }

    &__link {
        &_form {
            margin-top: 21px;
            font-family: 'Gotham Pro Medium';
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            text-transform: uppercase;
            color: #aa6e4f;
            padding: 7px 13px 5px 14px;
            border-radius: 2px;
            border: solid 1px #aa6e4f;
        }
    }
}

.quality {
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:hover {
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    }

    span,
    a {
        width: 100%;
        text-align: center;
    }

    &__title {
        font-family: 'Gotham Pro Medium';
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
    }

    &__text {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin: 9px 0 5px;
    }

    &__number {
        font-family: 'Gotham Pro Medium';
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
    }
    &__worktime {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin: 4px 0 11px;
        width: 100%;
    }
    &__button {
        font-family: 'Gotham Pro Medium';
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
        color: #aa6e4f;
        padding: 7px 13px 5px 14px;
        border-radius: 2px;
        border: solid 1px #aa6e4f;
        width: unset !important;
    }
}