<div class="sidebar">
	<ul class="work-link">
		<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
		<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a></li>
		<li class="work-link__item"><a class="work-link__a" href="/warranty/">Гарантия De Dietrich</a></li>
	</ul>
	<div class="yandex">
		<img src="{{src}}yandex__rate.png" alt="" class="yandex__pic">
		<a href="" target="_blank" class="yandex__link yandex__link_review"></a>
		<a href="" target="_blank" class="yandex__link yandex__link_form">оставить отзыв</a>
	</div>
	<div class="quality">
		<span class="quality__title">Контроль качества</span>
		<span class="quality__text">Номер для претензий и предложений:</span>
		<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
		<span class="quality__worktime">с 9:00 до 19:00</span>
		<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
	</div>
</div>