<div class="content-top">
	<div class="content-top__inner">
		<div class="container">
			<div class="navchain"><span itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="/">De Dietrich</a>
					</span>
					»
					<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<span itemprop="item">Каталог</span>
					</span>
					»
					<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<span itemprop="item">Модульные системы</span>
					</span>
				</span>
			</div>
			<div class="page__title content-top__title content-top__title_top">Встраиваемые</div>
			<div class="page__title content-top__title content-top__title_bottom">Духовые шкафы</div>
			<div class="tags">
				<ul class="tags__list">
					<li class="tags__item">
						<a href="" class="tags__link">
							С защитой от детей
						</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Бежевые</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Белые</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Домино</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Комбинированные</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Стеклокерамические</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Газовые</a>
					</li>
					<li class="tags__item">
						<a href="" class="tags__link">
							Индукционные</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>