.navchain {
  width: 100%;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-bottom: 32px;

  a {
    color: #aa6e4f;
  }
}

.product-card {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;



  &__slider {
    width: 46.84300341296928%;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    position: relative;

    .product-card__title {
      display: none;
    }

    .swiper-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: 100% 100%;
      background-position: center;
    }

    .gallery-top.swiper-container {
      width: 100%;
      background: -webkit-image-set(url("../images/romb.jpg") 1x,
        url("../images/romb@2x.jpg") 2x,
        url("../images/romb@3x.jpg") 3x) no-repeat;
      background-size: 100% 100% !important;
      height: auto;
    }

    .gallery-thumbs {
      box-sizing: border-box;
      padding: 10px 0;

      .swiper-wrapper {
        // padding-left: 86px;
        // transform: initial!important;
        // margin-left: calc(-40% - 5px);
      }
    }

    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
    }

    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }

    .gallery-top {
      margin-bottom: -50px;

      .swiper-slide {
        padding: 13%;
        position: relative;

        img {
          height: 100%;
        }
      }
    }

    .announcing {
      width: 72px;
      height: 72px;
      position: absolute;
      top: 12px;
      left: 12px;

      &_two {
        top: 90px;
      }

      &__new {
        background: url("../images/new.svg") no-repeat;
        background-size: contain;
      }

      &__hit {
        background: url("../images/hit.svg") no-repeat;
        background-size: contain;
      }

      &__sale {
        background: url("../images/sale.svg") no-repeat;
        background-size: contain;
      }
    }
  }

  &__info {
    width: 40.27303754266212%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin-left: auto;
  }

  &__title,
  &__model {
    width: 100%;
    font-family: "Gotham Pro Medium";
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
  }

  &__model {
    margin-bottom: 18px;
  }

  &__key,
  &__date {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }

  &__date {
    margin-bottom: 48px;
  }

  &__price {
    width: 100%;
    font-family: "Gotham Pro Medium";
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;

    b {
      font-size: 24px;
      line-height: 1;
      margin-left: 5px;
    }
  }

  &__presence {
    width: 100%;
    height: 24px;
    margin-top: 13px;
    margin-bottom: 32px;
  }

  &__button {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 42px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15px;
  }

  &__buy {
    font-family: "Gotham Pro Medium";
    padding: 12px 56px;
    height: 46px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border-radius: 2px;
    background-color: #aa6e4f;
  }

  &__icons {
    background: url("../images/compare__color.svg") 0 /24px no-repeat;
    padding-left: 30px;

    @media screen and (max-width: 960px) {
      margin-top: 20px;
    }
  }

  &__match {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: dashed 1px #aa6e4f;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #aa6e4f;
  }

  &__description {
    display: flex;
    flex-wrap: wrap;

    .description {
      &__title {
        font-family: "Gotham Pro Medium";
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin-bottom: 14px;
      }

      &__text {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: #262626;
        margin-bottom: 31px;
      }
    }

    .catalog-back {
      padding-left: 30px;
      display: flex;
      align-items: center;
      background: url("https://icongr.am/feather/arrow-left.svg") no-repeat 0 4px/18px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
    }
  }

  &__middle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .product__bottom__border {
    height: 1px;
    width: 200%;
    flex-shrink: 0;
    margin-top: 28px;
    height: 1px;
    border: 1px solid #f2f2f2;
    margin-left: -50%;
  }

  .sidebar-right {
    width: 31.74061433447099%;
    margin-left: auto;
    padding: 118px 0 48px 0;

    .documentation {
      margin: 0 0 28px 0;
      width: 100%;
      padding: 24px 32px;
      background-color: #ffffff;
      border: solid 1px #eeeeee;
      display: flex;
      flex-wrap: wrap;

      &:hover {
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
      }

      &__title {
        width: 100%;
        font-family: "Gotham Pro Medium";
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
      }

      .doc_loading {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        padding-left: 50px;

        .icon_doc {
          background: url("../images/documentation__pic.svg") no-repeat 100% 100%;
          width: 32px;
          height: 32px;
          margin-right: 10px;
          margin-left: -45px;
        }

        span {
          color: #2e2e2e;
          width: 100%;
        }

        &_first {
          padding: 24px 0 16px 50px;
        }
      }
    }

    .upsale {
      display: flex;
      margin: 0 0 28px 0;
      width: 100%;
      padding: 24px 32px;
      background-color: #ffffff;
      border: solid 1px #eeeeee;
      display: flex;
      flex-wrap: wrap;

      &:hover {
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
      }

      &__title {
        font-family: "Gotham Pro Medium";
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
      }

      &__items {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        display: flex;
        margin-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #f1f1f1;
        max-width: 100%;
      }

      &__pic {
        width: 58px;
        height: 100px;
        flex-shrink: 0;
        margin: 0 21px;
      }

      &__text {
        display: flex;
        flex-wrap: wrap;
      }

      &__description {
        font-family: "Gotham Pro Medium";
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin-bottom: 21px;
      }

      &__sale {
        font-family: "Gotham Pro Medium";
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        margin-right: 10%;

        i {
          font-style: normal;
          font-size: 14px;
          line-height: 1.71;
        }
      }

      &__links {
        display: flex;
        flex-grow: 1;
      }

      &__link {
        width: 24px;
        height: 24px;

        &_first {
          background: url("../images/compare__color.svg") 0 /24px no-repeat;
          margin-right: 16px;
        }

        &_two {
          background: url("../images/shopping-cart__color.svg") 0 /24px no-repeat;
        }

        b {
          display: none;
        }
      }

      .product-card__presence {
        display: none;
      }
    }
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    width: 53.24232081911263%;

    .active {
      border-bottom: 4px solid #aa6e4f;

      a {
        color: #aa6e4f;
      }
    }

    &__list {
      display: flex;
      list-style: none;
      align-content: baseline;
      padding: 0;
      position: relative;
      margin-bottom: 49px;
    }

    &__absolute {
      position: absolute;
      bottom: -2px;
      height: 1px;
      border: 1px solid #f2f2f2;
      margin-left: -50%;
      width: 300%;
    }

    &__li {
      display: flex;
      border-bottom: 4px solid transparent;

      a {
        color: #666666;
      }
    }

    &__link {
      font-family: "Gotham Pro Medium";
      padding: 20px 28px;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      display: flex;
      align-items: center;
    }

    .hide-tabs {
      width: 100%;
      display: flex;

      &__characteristic {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
      }

      &__delivery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        display: none;
        background: linear-gradient(to top left,
          purple,
          crimson,
          orangered,
          gold);
        height: 1500px;
      }

      .characteristic {
        &__title {
          font-family: "Gotham Pro Medium";
          width: 100%;
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #2e2e2e;
          margin-bottom: 11px;
          margin-top: 24px;

          &:first-child {
            margin-top: 0;
          }
        }

        &__row {
          width: 100%;
          height: 32px;
          display: flex;
          align-items: center;
        }

        &__name {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.29;
          letter-spacing: normal;
          text-align: left;
          color: #2e2e2e;
        }

        &__dashed {
          flex-grow: 1;
          border-bottom: 1px dashed #d7d7d7;
          height: 10px;
          margin: 0 10px;
        }

        &__property {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.29;
          letter-spacing: normal;
          text-align: left;
          color: #2e2e2e;
        }

        &__copyright {
          margin-top: 35px;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #666666;
          display: flex;
          height: 150px;
        }
      }
    }
  }

  .reviews {
    &__title {
      margin: 64px 0 52px;
    }

    &__top {
      border: 0;
      justify-content: flex-start;
      padding: 0;
    }

    &__link {
      margin-right: 27px;
    }
  }

  .similar-models {
    .special-offers__text {
      padding-bottom: 0;
      height: unset;
    }

    * {
      transition: 0.4s;
    }

    .catalog__existence {
      flex-grow: 1;
    }

    .grey {
      color: #666666;
    }

    .swiper-slide {
      box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0);
    }

    .swiper-slide:hover {
      box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    }
  }

  .swiper-pagination {
    display: none;
  }

  @media screen and (max-width: 768px) {
    position: relative;

    .navchain {
      margin-bottom: 0;
    }

    &__slider {
      width: 100%;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 60px;

      .product-card__title {
        display: flex;
        margin-bottom: 40px;
      }
    }

    &__info {
      width: 100%;

      .product-card__title,
      .product-card__model {
        display: none;
      }
    }

    &__title,
    &__model {
      width: unset;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
    }

    &__price {
      width: unset;
      display: flex;
      align-items: center;
      padding: 10px 10px 0 0;
    }

    &__presence {
      order: 1;
      font-size: 14px;
      line-height: 1.71;
    }

    &__description {
      order: 2;
    }

    &__button {
      margin-bottom: 0;
      justify-content: space-between;
      padding: 10px 0;
    }

    .swiper-container.gallery-top {
      height: fit-content;
      width: 75%;
      position: relative;
      left: 0;
      margin: 0;
    }

    .gallery-thumbs {
      flex-direction: column;
      padding: 0;
      width: 17%;
      margin-left: auto;
      margin-right: 0;

      .swiper-slide {
        width: unset;
      }

      .swiper-wrapper {
        padding: 0;
        position: absolute;
      }
    }

    .tabs {
      width: 100%;

      &__list {
        width: 100%;
      }

      &__li {
        width: 50%;

        justify-content: center;
      }
    }

    .sidebar-right {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 900px;
      padding: 32px 0;
    }

    .documentation {
      width: 48% !important;
    }

    .work-link {
      width: 48%;
    }

    .upsale {
      width: 50% !important;
      margin-bottom: 0 !important;

      &__pic {
        width: 18%;
        margin: 0 !important;
        padding: 7px;
      }

      &__sale {
        flex-basis: 90px;
        padding: 5px 0;
      }

      &__item:last-child {
        border-bottom: 0 !important;
      }

      &__links {
        margin-left: auto !important;
        padding: 5px 0;
        flex-grow: 0 !important;
      }

      &__description {
        width: 100%;
      }
    }

    .product__bottom__border {
      display: none;
    }

    .reviews-list__col:first-child {
      width: unset;
      flex-basis: 120px;
    }

    .similar-models .swiper-slide {
      padding: 16px;
    }
  }

  @media screen and (max-width: 480px) {
    &__slider {
      margin-bottom: 0;
      padding-bottom: 50px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
    }

    &__price {
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      padding: 0;
      width: 100%;
      justify-content: center;

      .price__absolute {
        left: unset;
      }

      b {
        font-size: 18px;
        line-height: 1.33;
        margin-left: 10px;
      }
    }

    &__button {
      flex-direction: column;
    }

    &__buy {
      padding: 3% 30%;
      height: unset;
    }

    &__presence {
      order: unset;
      text-align: center;
    }

    &__key,
    &__date {
      text-align: center;
    }

    .gallery-thumbs {
      display: none;
    }

    .gallery-top {
      width: 100% !important;
    }

    .swiper-pagination {
      display: flex;
      bottom: 10px;
      justify-content: center;
      width: 100%;
    }

    .swiper-pagination-bullet {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .swiper-pagination-bullet-active {
      color: #aa6e4f !important;
      background-color: #aa6e4f !important;
    }

    &__description.closed {
      height: 54px;
      overflow: hidden; // padding-top: 10px;
      border-top: 1px solid #eee;
      background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;

      .description__title {
        margin-top: 0;
        height: 54px;
        align-items: center;
        display: flex;
      }
    }

    &__description {
      background: url("https://icongr.am/entypo/chevron-up.svg?color=d6d6d6") 97% 7%/18px no-repeat;
    }

    .description__title {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
      border-top: 1px solid transparent;
      margin-top: 10px;
      width: 100%;
    }

    .tabs {
      position: relative;

      &__list {
        flex-wrap: wrap;
        position: unset;
        margin-bottom: unset;
      }

      &__absolute {
        display: none;
      }

      &__li {
        width: 100%;
        justify-content: unset;
        margin-bottom: 25px;
      }

      .js-characteristic {
        border: 0;
        background: url("https://icongr.am/entypo/chevron-up.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        height: 40px;
      }

      .js-characteristic.closed {
        border: 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        height: 54px;
        display: flex;
        align-items: center;

        a {
          margin: auto 0;
        }
      }

      .js-delivery {
        border: 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        height: 54px;
        margin-top: -28px;
      }

      .js-delivery.closed {
        position: absolute;
        bottom: -50px;
        border: 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        height: 54px;

        a {
          margin: auto 0;
        }
      }

      &__link {
        padding-left: 0;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;

        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e !important;
        padding: 10px 0;
      }

      .hide-tabs__characteristic.closed {
        display: none !important;
      }

      .hide-tabs__delivery.closed {
        display: none !important;
      }

      .hide-tabs {
        margin-top: -19px;
      }
    }

    .sidebar-right {
      flex-direction: row;
      max-height: unset;
    }

    .documentation,
    .work-link,
    .upsale {
      width: 100% !important;
    }

    .upsale {
      overflow: hidden;
      position: relative;
      border: 0 !important;
      padding: 0 !important;

      &:hover {
        box-shadow: unset !important;
      }

      &__items {
        flex-wrap: nowrap !important;
      }

      &__item {
        flex: 1 0 100%;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 40px !important;
      }

      &__title {
        line-height: 1.5 !important;
      }

      &__pic {
        width: 100% !important;
        height: auto !important;
        padding: 0 25%;
      }

      &__text {
        margin: 0 19px 20px;
      }

      &__description {
        font-size: 16px !important;
        line-height: 1.5 !important;
      }

      .product-card__presence {
        display: block !important;
        width: 100%;
        order: 1;
        text-align: left;
        margin: 0;
      }

      &__links {
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        align-items: flex-end;
      }

      &__info {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      &__sale {
        flex-basis: unset;
        margin-bottom: 8px;
      }

      &__link {
        width: unset !important;
        height: unset !important;

        b {
          display: block !important;
        }

        &_first {
          width: 77px !important;
          order: 1;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          text-align: left;
          color: #2e2e2e;
          border-bottom: 1px dashed #2e2e2e;
          margin-right: 0 !important;
          background: unset !important;
        }

        &_two {
          font-family: "Gotham Pro Medium";
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          width: 96px !important;
          border-radius: 2px;
          background-color: #aa6e4f !important;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 8px;
          height: 36px !important;
        }
      }
    }

    .reviews {
      &__top {
        background-color: #ffffff;
        border: solid 1px #eeeeee;
      }

      &__title {
        font-size: 20px;
        line-height: 1.5;
        margin: 40px 0 24px;
      }

      &__section {
        margin-top: 0;
        margin-bottom: 23px;
      }

      &-list {
        &__field {
          flex-wrap: wrap;
        }

        &__col[itemprop="author"] {
          width: 100%;
          margin-bottom: 12px;
          flex-basis: unset;
        }

        &__col_date {
          margin-left: auto;
        }
      }
    }

    .characteristic__row {
      height: unset !important;
      line-height: unset;
      padding: 5px 0;
    }

    .characteristic__name,
    .characteristic__property,
    .characteristic__copyright {
      line-height: 1.29 !important;
    }

    .special-offers__title {
      margin: 0;
      white-space: nowrap;
    }
  }
}