<div class="product-card">
    <div class="navchain">
        <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item" href="/">De Dietrich</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item">Каталог</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item">Духовые шкафы</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="item">Духовой шкаф De Dietrich DOM1195GX</span>
            </span>
        </span>
    </div>
    <div class="product-card__slider">
        <span class="product-card__title">Духовой шкаф De Dietrich DOM1195GX</span>
        <div class="swiper-pagination"></div>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                    <div class="announcing announcing__new"></div>
                    <div class="announcing announcing_two announcing__hit"></div>
                </div>
                <div class="swiper-slide">
                    <!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
                        class="special-offers__img catalog__img"> -->
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/raVhpEtOh9U" frameborder="0"
                        allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>

            </div>

            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div> -->
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/product-card.jpg" srcset="images/product-card@2x.jpg 2x,images/product-card@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/raVhpEtOh9U" frameborder="0"
                        allowfullscreen=""></iframe>
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_3.jpg" srcset="images/product-card_3@2x.jpg 2x,images/product-card_3@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
                <div class="swiper-slide">
                    <img src="images/product-card_4.jpg" srcset="images/product-card_4@2x.jpg 2x,images/product-card_4@3x.jpg 3x"
                        class="special-offers__img catalog__img">
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__info">
        <span class="product-card__title">Духовой шкаф</span>
        <span class="product-card__model">De Dietrich DOM1195GX</span>
        <span class="product-card__key">Код товара: 327944</span>
        <span class="product-card__date">Обновление цен от 14 июля 2018 </span>
        <span class="product-card__price">122 750 <b>руб.</b></span>
        <span class="catalog__presence product-card__presence">в наличии</span>
        <div class="product-card__button">
            <a href="" class="product-card__buy">купить</a>
            <a href="" class="product-card__icons">
                <span href="" class="product-card__match"> Добавить к сравнению</span>
            </a>
        </div>
        <div class="product-card__description closed">
            <span class="description__title">Описание</span>
            <span class="description__text">Это электрический мультифункциональный духовой шкаф шириной 60 см. Есть
                режимы гриля и конвекции. Очистка традиционная, освещение галогенное. Модель оснащена дисплеем. Дверца
                имеет механизм плавного закрывания, внутри камеры установлены телескопические направляющие,
                выдвигающиеся на 2/3 длины.</span>
            <a href="" class="catalog-back">Вернуться в каталог</a>
        </div>
    </div>
    <div class="product-card__middle">
        <div class="tabs">
            <ul class="tabs__list">
                <li class="tabs__li active js-characteristic closed">
                    <a href="" class="tabs__link">Характеристики</a>
                </li>
                <li class="tabs__li js-delivery closed">
                    <a href="" class="tabs__link">Доставка и подключение</a>
                </li>
                <li class="tabs__absolute"></li>
            </ul>
            <div class="hide-tabs">
                <div class="hide-tabs__characteristic closed">
                    <span class="characteristic__title">Общие харакетристики</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Тип духового шкафа</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Multifunction Plus</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Способ подключения</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Электрический</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Тип очистки</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Пиролитическая</span>
                    </div>
                    <span class="characteristic__title">Дизайн</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Цвет</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Чёрный</span>
                    </div>
                    <span class="characteristic__title">Панель управления</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Тип управления</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Электронное</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Дисплей</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Есть</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Клавиши</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Сенсорные</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Переключатели</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Поворотные</span>
                    </div>
                    <span class="characteristic__title">Режим эксперт духовой шкаф</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Общее количество функций</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">9</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Конвекция</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Комбинированный нагрев</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Традиционный экономичный</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Поддержание в разогретом состоянии</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Разморозка</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Выпечка хлеба</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <span class="characteristic__title">Камера духового шкафа</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Количество стекол дверцы духовки</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">4</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Съёмных стёкол</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">3</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Дверца с плавным закрыванием «Soft-close»</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Холодная дверца</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Объем, л</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">73</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Внутреннее освещение</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Галогенное</span>
                    </div>
                    <span class="characteristic__title">Энергопотребление</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Класс энергопотребления</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">А+</span>
                    </div>
                    <span class="characteristic__title">Комплектация</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Решетки</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">2</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Противень</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">1</span>
                    </div>
                    <span class="characteristic__title">Размеры и вес</span>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Размеры ниши для встраивания, В х Ш х Г, мм</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">585 х 560 х 550</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Размеры прибора, В х Ш х Г, мм</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">592 х 592 х 609</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Размеры камеры, В х Ш х Г, мм</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">320 х 465 х 375</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Вес брутто, кг</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">38</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Вес нетто, кг</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">36</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Кабель без вилки в комплекте</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">Да</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Напряжение, В</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">220-240</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Частота, Гц</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">50-60</span>
                    </div>
                    <div class="characteristic__row">
                        <span class="characteristic__name">Сила тока, А</span>
                        <span class="characteristic__dashed"></span>
                        <span class="characteristic__property">16</span>
                    </div>
                    <span class="characteristic__copyright">
                        *Все сведения, указанные на сайте, носят информационный характер и не являются публичной
                        офертой. Производитель на свое усмотрение и без дополнительных уведомлений может менять
                        комплектацию, внешний вид, страну производства и технические характеристики модели. Уточняйте
                        подробную информацию о товаре в инструкции.
                    </span>
                </div>
                <div class="hide-tabs__delivery closed"></div>
            </div>
        </div>
        <div class="sidebar-right">
            <div class="documentation">
                <span class="documentation__title">Документация</span>

                <a href="/upload/" class="doc_loading doc_loading_first" title="Схема встраивания">
                    <i class="icon_doc"></i>
                    <span>Инструкция на русском языке</span>
                    PDF, 1.24 Мб
                </a>
                <a href="/upload/" class="doc_loading" title="Инструкция на русском языке">

                    <i class="icon_doc"></i>
                    <span>Схема встраивания</span>
                    JPG, 272.73 Кб
                </a>
            </div>
            <ul class="work-link">
                <li class="work-link__item">
                    <a class="work-link__a" href="/service/">Сервисные центры</a>
                </li>
                <li class="work-link__item">
                    <a class="work-link__a" href="/documentation/">Техническая документация</a>
                </li>
                <li class="work-link__item">
                    <a class="work-link__a" href="/warranty/">Гарантия De Dietrich</a>
                </li>
            </ul>
            <div class="upsale swiper-container-upsale">
                <span class="upsale__title">Не забудьте купить</span>
                <div class="upsale__items swiper-wrapper">
                    <div class="upsale__item swiper-slide">
                        <div class="upsale__pic">
                            <img src="images/upsale.jpg" srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img">
                        </div>
                        <div class="upsale__text">
                            <span class="upsale__description">Влажные салфетки Topperr для изделий из нержавеющей стали
                                3622</span>
                            <div class="upsale__info">
                                <span class="upsale__sale">100<i>руб.</i></span>
                                <span class="catalog__presence product-card__presence">в наличии</span>
                            </div>
                            <div class="upsale__links">
                                <a href="" class="upsale__link upsale__link_first"><b>в сравнение</b></a>
                                <a href="" class="upsale__link upsale__link_two"><b>купить</b></a>
                            </div>

                        </div>
                    </div>
                    <div class="upsale__item swiper-slide">
                        <div class="upsale__pic">
                            <img src="images/upsale.jpg" srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img">
                        </div>
                        <div class="upsale__text">
                            <span class="upsale__description">Скребок для чистки стеклокерамических поверхностей
                                Topperr SC1</span>
                            <div class="upsale__info">
                                <span class="upsale__sale">400<i>руб.</i></span>
                                <span class="catalog__presence product-card__presence">в наличии</span>
                            </div>
                            <div class="upsale__links">
                                <a href="" class="upsale__link upsale__link_first"><b>в сравнение</b></a>
                                <a href="" class="upsale__link upsale__link_two"><b>купить</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="upsale__item swiper-slide">
                        <div class="upsale__pic">
                            <img src="images/upsale.jpg" srcset="images/upsale@2x.jpg 2x,images/upsale@3x.jpg 3x" class="upsale__img">
                        </div>
                        <div class="upsale__text">
                            <span class="upsale__description">Набор для ухода за кухонными плитами Topperr 3415</span>
                            <div class="upsale__info">
                                <span class="upsale__sale">1 100<i>руб.</i></span>
                                <span class="catalog__presence product-card__presence">в наличии</span>
                            </div>
                            <div class="upsale__links">
                                <a href="" class="upsale__link upsale__link_first"><b>в сравнение</b></a>
                                <a href="" class="upsale__link upsale__link_two"><b>купить</b></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="product__bottom__border"></div>
    </div>
    <div class="reviews">
        <div class="reviews__title">Отзывы о духовом шкафе De Dietrich DOM1195GX</div>
        <div class="reviews__top">
                <div class="reviews__section">
                        <div class="ratings">
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star ratings__none"></div>
                        </div>
                        <a href="" class="reviews__all">1 отзыв</a>
                    </div>
            <a href="/reviews/" class="reviews__link">оставить отзыв</a>
        </div>
        <div class="reviews-list">
            <div class="reviews-list__item" itemscope="" itemtype="">
                <div class="reviews-list__field reviews-list__field_header">
                    <div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
                        <strong itemprop="name">Ирина</strong>
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        <div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star"></div>
                            <div class="ratings__star ratings__none"></div>
                        </div>
                    </div>
                    <div class="reviews-list__col reviews-list__col_date">
                        <meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Достоинства:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
                        она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
                        просто покорил нас, а когда увидели, что варочная панель из стеклокерамики,
                        то уже ни грамма не сомневались, что это наш выбор.</div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Недостатки:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc">
                        Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это быстро
                        решается покупкой этой утвари отдельно.</div>
                </div>
                <!-- /.reviews-list__field -->
                <div class="reviews-list__field">
                    <div class="reviews-list__col">
                        Комментарий:
                    </div>
                    <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                        В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни. Готовить на
                        ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить, а уже
                        готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря
                        конвекции. Очень надежная плита, советую всем.</div>
                </div>
                <!-- /.reviews-list__field -->
                <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
            </div>
        </div>
    </div>
    <div class="special-offers similar-models">
        <div class="container">
            <span class="special-offers__title">Похожие модели</span>
            <!-- Slider main container -->
            <div class="swiper-container swiper-container-two">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper special-offers__wrapper">
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                        <div class="catalog__existence">
                            <span class="catalog__presence">в наличии</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                        </div>
                        <div class="catalog__existence">
                            <span class="catalog__presence grey">под заказ</span>
                            <a href="" class="catalog__simile">в сравнение</a>
                        </div>
                        <div class="announcing announcing__new"></div>
                        <div class="announcing announcing_two announcing__hit"></div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                        <div class="announcing announcing__sale"></div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence grey">под заказ</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Curved Decorative Hood</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_2.jpg" srcset="images/foto_2@2x.jpg 2x,images/foto_2@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">60cm 4 Burner Gas on Glass Hob</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_3.jpg" srcset="images/foto_3@2x.jpg 2x,images/foto_3@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">38cm Domino Hob Single 6.1kW Triple Burner</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide special-offers__slide">
                        <img src="images/foto_4.jpg" srcset="images/foto_4@2x.jpg 2x,images/foto_4@3x.jpg 3x" class="special-offers__img">
                        <a href="#" class="special-offers__text">90cm Vertical Decorative Hood Grey</a>
                        <div class="catalog__specification">
                            <span class="catalog__feature"><b class="catalog__bold">Тип:</b>Multifunction Plus + СВЧ</span>
                            <span class="catalog__feature"><b class="catalog__bold">Очистка:</b>Пиролитическая</span>
                            <span class="catalog__feature"><b class="catalog__bold">Цвет:</b>жемчужный серый</span>
                            <span class="catalog__feature"><b class="catalog__bold">В х Ш х Г, мм:</b>450 x 560 х 550</span>
                        </div>
                        <div class="special-offers__sale">
                            <span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
                            <a href="" class="special-offers__buy">купить</a>
                            <div class="catalog__existence">
                                <span class="catalog__presence">в наличии</span>
                                <a href="" class="catalog__simile">в сравнение</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->

                <!-- If we need navigation buttons -->
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="swiper-pagination_2"></div>
            <div class="swiper-button-prev special-offers_prev"></div>
            <div class="swiper-button-next special-offers_next"></div>
        </div>

    </div>
</div>