.menu {
  * {
    transition: 0.2s;
  }
  nav {
    width: 100%;
  }
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 75%;
  padding-right: 3.1%;
  @media (max-width:850px) {
    padding-right: 1%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    // padding-right: 40px;

    &:first-child {
      background: url("https://icongr.am/fontawesome/caret-right.svg") 4rem/18px no-repeat;

      &:hover {
        background: url("https://icongr.am/fontawesome/caret-down.svg?color=aa6e4f") 4rem/18px no-repeat;
      }
    }

    &:hover {
      a {
        color: #aa6e4f;
        text-decoration: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    font-family: "Gotham Pro Bold";
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width:850px) {
			font-size: 11px;
		}
  }

  @media (max-width: 768px) {
    transform: scale(0);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: transform 0.3s;

    &.active {
      transform: scale(1);
      background: #fff;
      z-index: 10;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__item+&__item {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 1110px) {
	.menu__item {
    padding-right: unset;
  }

}