<div class="menu" id="js-menu" aria-expanded="false">
	<nav>
		<ul class="menu__list">
			<li class="menu__item">
				<span class="menu__link js-menu">Каталог</span>
			</li>
			<li class="menu__item">
				<a href="06 - 01 - About us_desktop.html" class="menu__link">De Dietrich</a>
			</li>
			<li class="menu__item">
				<a href="06 - 02 - Shipping and payment_desktop.html" class="menu__link">Доставка и оплата</a>
			</li>
			<li class="menu__item">
				<a href="06 - 03 - Service_desktop.html" class="menu__link">Сервис</a>
			</li>
			<li class="menu__item">
				<a href="06 - 04 - Warranty_desktop.html" class="menu__link">Гарантия</a>
			</li>
			<li class="menu__item">
				<a href="05 - 01 - Promotions and articles_desktop.html" class="menu__link">Статьи</a>
			</li>
			<li class="menu__item">
				<a href="06 - 05 - Help_desktop" class="menu__link">Помощь</a>
			</li>
			<li class="menu__item">
				<a href="06 - 08 - Contacts_desktop.html" class="menu__link">Контакты</a>
			</li>
		</ul>
		<a href="" class="menu__compare-320">Сравнение (<i class="compare-320__img">0</i>)</a>
		{% include 'popup-call/callback.html' %}
	</nav>
</div>
<!--end menu-->