{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}
		{% include 'slider/main/slider-main.html' %}
	
		<div class="section">
			<div class="content">
				<!-- WORKAREA -->
				{% include 'section/special-offers/special-offers.html' %}
				{% include 'section/new-items/new-items.html' %}
				{% include 'section/articles/articles.html' %}
			
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

</body>

</html>