.help {
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: 29px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    display: flex;
    width: 100%;
    margin-top: 33px;
  }

  &__item {
    justify-content: flex-start !important;
  }

  &__header {
    text-align: left;
  }

  &__text {
    max-width: 287px;
  }

  &__row {
    width: 100%;
    font-family: 'Gotham Pro Medium';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    padding: 16px 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    margin: 9px 0;
    background: url("https://icongr.am/fontawesome/caret-down.svg?color=666666") 99% 20px/20px no-repeat;
    cursor: pointer;

    &-open {
      background: url("https://icongr.am/fontawesome/caret-up.svg?color=666666") 99% 20px/20px no-repeat;
      color: #aa6e4f;
    }

    &:hover {
      box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
    }

    &:first-child {
      margin-top: 35px;
    }
  }

  &__info {
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    width: 100%;
    margin-top: 15px;
    display: none;
  }
}