<div class="about-us">
    <div class="navchain">
        <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item" href="/">De Dietrich</a>
            </span>
            »
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="item">De Dietrich</span>
            </span>
        </span>
    </div>
    <div class="about-us__title articles-main__title">
        DeDietrich
    </div>
    <div class="about-us__items">
        <div class="about-us__item">
            <img src="{{src}}about-us.png" alt="" class="about-us__pic">
        </div>
        <div class="about-us__item about-us__item-absolute">
            <img src="{{src}}about-us__2.png" alt="" class="about-us__pic">
            <span class="about-us__header">История компании De Dietrich насчитывает уже несколько столетий. Все
                начиналось с построения небольшой кузницы Жаном Дитрихом, которая впоследствии выросла в настоящую
                промышленную империю.</span>
            <span class="about-us__text about-us__text-center">Эксклюзивный товарный знак в виде охотничьего рога стал первым промышленным
                логотипом в истории. Этот символ качества и сейчас украшает продукцию бренда De Dietrich.</span>
            <iframe width="100%" src="//www.youtube.com/embed/raVhpEtOh9U" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="about-us__item about-us__item-absolute">
            <img src="{{src}}about-us__3.png" alt="" class="about-us__pic">
            <span class="about-us__info">История</span>
            <span class="about-us__text">В свое время компания занималась многими направлениями. Это и производство
                оружия, и поставки для железнодорожной отрасли, и оборудование для химической промышленности, был даже
                период прогрессивного машиностроения. Интересен тот факт, что сам легендарный Этторе Бугатти произвел
                свои первые автомобильные шедевры именно под маркой De Dietrich.</span>
            <span class="about-us__text">Сейчас группа Ди Дитрих – один из ведущих мировых производителей бытовой
                техники.</span>
        </div>
        <div class="about-us__item about-us__item-absolute">
            <img src="{{src}}about-us__4.png" alt="" class="about-us__pic">
            <span class="about-us__info">Философия</span>
            <span class="about-us__text">Вся деятельность компании держится на трех китах: качество, надежность и
                долговечность.
                Если добавить сюда безупречный дизайн, над которым, как и над техническими новинками, трудится целый
                штат специалистов, становится понятно, почему марка стала номером один в нише производства элитной
                бытовой техники.</span>
            <ul class="about-us__list">
                Кстати о технических новинках:
                <li class="about-us__li">первая плита на дровах и угле;</li>
                <li class="about-us__li">первое поворотное приспособление для жарки кофе;</li>
                <li class="about-us__li">первая газовая плита;</li>
                <li class="about-us__li">первая индукционная панель для частных кухонь;</li>
                <li class="about-us__li">первый мультифункциональный духовой шкаф с пиролитической очисткой;</li>
                <li class="about-us__li">первая стеклокерамическая варочная поверхность с панелью управления.</li>
            </ul>
            <span class="about-us__text">Эти и многие другие изобретения De Dietrich, значительно облегчили жизнь хозяйкам всего мира, став привычной и незаменимой атрибутикой современного быта. </span>
        </div>
        <div class="about-us__item about-us__item-absolute ">
            <img src="{{src}}about-us__5.png" alt="" class="about-us__pic">
            <span class="about-us__info">Инновации</span>
            <span class="about-us__text">За последнее время компания так же представила несколько разработок, которые способствуют максимальному комфорту и безопасности потребителя:</span>
            <ul class="about-us__list">
                Кстати о технических новинках:
                <li class="about-us__li">первая плита на дровах и угле;</li>
                <li class="about-us__li">первое поворотное приспособление для жарки кофе;</li>
                <li class="about-us__li">первая газовая плита;</li>
                <li class="about-us__li">первая индукционная панель для частных кухонь;</li>
                <li class="about-us__li">первый мультифункциональный духовой шкаф с пиролитической очисткой;</li>
                <li class="about-us__li">первая стеклокерамическая варочная поверхность с панелью управления.</li>
            </ul>
            <span class="about-us__text">Посудомоечная машина Quattro, как и некоторые другие разработки компании, удостоилась премии за инновацию.</span>
        </div>
        <div class="about-us__item about-us__item-absolute about-us__item-last">
            <img src="{{src}}about-us__6.png" alt="" class="about-us__pic">
            <span class="about-us__info about-us__info-last">Основные преимущества марки De Diertich</span>
            <span class="about-us__text"><b class="about-us__text-b">Высочайшее качество</b>Являясь эталоном качества в любой из выбранных сфер деятельности, продукция компании De Dietrich экспортируется более чем в 30 стран мира. </span>
            <span class="about-us__text"><b class="about-us__text-b">Надежность</b>Несколько сотен сотрудников компании занимаются научными разработками, предоставляющими пользователю максимальную безопасность при работе с приборами De Dietrich. </span>
            <span class="about-us__text"><b class="about-us__text-b">Безупречный дизайн</b>Возглавившая компанию в 1806 году Амели ди Дитриш главным направлением производства сделала дизайн. По сей день предприятие производит продукцию, неотделимой частью имиджа которой является безупречное сочетание внешнего вида и функциональности. </span>
            <span class="about-us__text"><b class="about-us__text-b">Легкость в управлении и пользовании</b>Многие технические разработки компании существенно облегчили управление техникой De Dietrich. Интуитивное управление легко освоит любой пользователь.</span>
            <span class="about-us__text"><b class="about-us__text-b">Европейское производство</b>Техника De Dietrich производится на французских заводах, а также в Испании и Италии.</span>
        </div>
        <div class="about-us__item">
            <img src="{{src}}about-us__7.png" alt="" class="about-us__pic about-us__pic-last">
        </div>
        <div class="about-us__item">
            <img src="{{src}}about-us__8.png" alt="" class="about-us__pic about-us__pic-last">
        </div>
    </div>
</div>