.container{
	width: -webkit-fill-available;
	margin-right:  auto;
	margin-left: auto;
	max-width: 1172px;
	box-sizing: border-box;
	@media screen and (max-width: 1200px) {
		margin: 0 24px;
		max-width: 100%;
		width: -webkit-fill-available;
		flex: 1 1 100%
	}
	@media screen and (max-width: 320px) {
		margin: 0;
		padding: 28px 25px 0 16px !important;
		max-width: 100%;
		width: -webkit-fill-available;
	}
}
.content .container {
	display: flex;
	padding: 28px 0 0;
	flex-wrap: wrap;
}
