.container{
	width: 100%;
	margin-right:  auto;
	margin-left: auto;
	max-width: 1172px;
	box-sizing: border-box;
	@media screen and (max-width: 1200px) {
		margin: 0 24px;
		max-width: 100%;
		width: unset;
		flex: 1 1 100%
	}
}
