.order-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    .navchain {
        margin-bottom: 0;
    }

    &__title {
        width: 100%;
        margin: 4px 0 32px;
        font-family: "Gotham Pro Medium";
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #262626;
    }

    .table {
        display: flex;
        flex-wrap: wrap;

        &__title,
        &__items,
        &__total {
            width: 100%;
            padding: 10px 24px;
        }

        &__title {
            display: flex;
            background-color: #eeeeee;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
        }

        &__items {
            display: flex;
            background-color: #ffffff;
            border-left: solid 1px #eeeeee;
            border-bottom: solid 1px #eeeeee;
            border-right: solid 1px #eeeeee;
            max-height: 125px;
            position: relative;
        }

        &__link {
            display: flex;
            max-width: 120px;
            max-height: 120px;
            align-items: baseline;
        }

        .title__span,
        .table__item {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 10%;
            align-items: center;
            display: flex;

            strong {
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #2e2e2e;
                font-family: "Gotham Pro Medium";
            }
        }

        .name {
            flex-grow: 3;
            display: flex;
            flex: 1 1 50%;
        }

        &__text {
            padding-left: 5%;
        }

        .how-many {
            display: flex;
            align-items: center;

            a {
                margin: 0 5px;
            }

            input {
                width: 33%;
                border: 0;
                outline: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #2e2e2e;
                font-family: "Gotham Pro Medium";
            }

            .decr,
            .incr {
                font-size: 35px;
                font-weight: 500;
                color: #c9cbca;
            }
        }

        .special-offers__text {
            max-height: unset;
            height: unset;
            display: flex;
            align-items: center;
            padding: 0;
        }

        .delete__table {
            position: absolute;
            right: 20px;
            top: 0;
            background: url("https://icongr.am/clarity/close.svg?color=c9cbca") center no-repeat;
            width: 24px;
            height: 100%;
            color: transparent;
        }

        &__total {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
            font-family: "Gotham Pro Medium";

            strong {
                font-size: 24px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: #2e2e2e;
                margin-left: 10%;
            }
        }
    }

    .special-offers__title {
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        font-family: "Gotham Pro Medium";
    }

    .swiper-slide {
        padding: 12px 20px;
        transition: 0.4s;

        &:hover {
            box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
        }

        img {
            max-height: 200px;
            max-width: 150px;
            width: auto;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 65px !important;
    }

    .special-offers__text {
        padding: 28px 0 46px;
        height: unset;
        max-height: unset;
    }

    .swiper-wrapper {
        padding: 10px 10px;
    }

    .special-offers {
        padding-bottom: 0;
    }

    .border {
        width: 200vw;
        height: 3px;
        border: solid 1px #eeeeee;
        flex-shrink: 0;
        margin-left: -300px;
        margin: 72px 0 63px;
    }

    .form__payment {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 80px;
        max-width: 100%;

        label {
            font-family: "Gotham Pro Medium";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
            flex-basis: 200px;

            .sof-req {
                color: #aa6e4f;
            }
        }
    }

    .form__title {
        font-family: "Gotham Pro Medium";
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        width: 100%;
        margin-bottom: 40px;
        position: relative;
    }

    .delivery_terms {
        background: url("../images/delivery__picture.png") 0 /15px no-repeat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.29;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        padding-left: 30px;
        margin-left: 65px;
    }

    .form__row {
        width: 100%;
        display: flex;
        padding: 12px 0;
        align-items: center;

        label {
            width: unset;
        }

        input,
        select {
            height: 46px;
            max-width: 372px;
            width: 100%;
        }

        textarea {
            max-width: 450px;
            width: 100%;
        }

        input,
        textarea,
        select {
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #cbcbcb;
            resize: none;
            padding-left: 15px;
        }
    }

    .item__title {
        display: none;
    }

    .form__button {
        width: 100%;
        padding-left: 225px;
        display: flex;
        flex-direction: column;

        label {
            flex-basis: 0;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            // color: #aa6e4f;
            margin: 31px 0 41px;

            a {
                color: #aa6e4f;
            }
        }

        input {
            width: 272px;
            height: 46px;
            border-radius: 2px;
            background-color: #aa6e4f;
            color: white;
            margin-left: -25px;
            text-transform: uppercase;
        }
    }

    @media screen and (max-width: 768px) {
        .table {

            .title__span,
            .table__item {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 18%;
                align-items: center;
                display: flex;
                &.price {
                    padding-left: 15px;
                }
            }

            .how-many {
                white-space: nowrap;
                flex-basis: 75px;

                .qt_num {
                    min-width: 40px;
                }
            }

            .name {
                flex: 0 1 40%;
            }

            &__link {
                max-width: 80px;
                width: 100%;
            }
        }

        .swiper-container {
            padding-bottom: 72px !important;
        }

        .border {
            margin: 0 0 63px !important;
        }

        .form__payment {
            label {
                flex: 0 0 200px;
            }
        }

        .form__button {
            label {
                flex-basis: unset;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 480px) {
        &__title {
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
        }

        .table {
            &__title {
                display: none;
            }

            &__items {
                border-top: 1px solid #eee;
                flex-wrap: wrap;
                max-height: unset;
                padding: 16px 16px 43px;
            }

            .name {
                width: 100%;
            }

            &__item {
                flex-basis: unset !important;
                width: 100%;
            }

            .special-offers__text,
            .strong__price {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #2e2e2e;
            }

            .item__title {
                display: flex;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.33;
                letter-spacing: normal;
                text-align: left;
                color: #2e2e2e;
                flex: 0 1 50%;
            }

            .qt_num {
                max-width: 60px;
            }

            .delete__table {
                height: 24px;
                top: unset;
                bottom: 16px;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: center;
                color: #b0b0b0;
                background: url("https://icongr.am/clarity/close.svg?size=20&color=c9cbca") 100% no-repeat;
                width: unset;
                padding-right: 25px;
                display: flex;
                right: 16px;
            }

            &__total {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #2e2e2e;

                strong {
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: right;
                    color: #2e2e2e;
                }
            }
        }

        .special-offers__title {
            width: unset;
            text-align: left;
            margin: 0 0 40px;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
        }

        .special-offers__buy {
            margin-left: 10px;
        }

        .special-offers__sale {
            flex-wrap: nowrap;
        }

        .swiper-slide {
            margin-left: -1%;

        }

        .form__button {
            padding-left: 0;

            label {
                width: calc(100%-24px);
                margin-left: 24px;
            }
            input{
                margin-left: auto;
                margin-right: auto;
            }
        }

        .form__row {
            flex-wrap: wrap;

            input,
            select {
                max-width: unset;
            }

            label {
                font-family: 'Gotham Pro';
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.29;
                letter-spacing: normal;
                text-align: left;
                color: #2e2e2e;
            }
        }
    }
}