.callback__name {
    display: none;
    @media screen and (max-width: 375px) {
        display: flex;
    }
}
.abuse-popup__item {
    margin-top: 21px;
}
.abuse-popup__item label {
    padding-left: 26px;
    
}
.checkbox-custom {
    margin-left: -24px;
}
