img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.swiper-container, .swiper-container-two, .swiper-container-three {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.popup {
    display: none;
}