<div class="shipping-payment return-exchange">
    <div class="filter">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="shipping-payment__items">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Правила возврата и обмена</span>
                </span>
            </span>
        </div>
        <div class="shipping-payment__title articles-main__title">
            Правила возврата и обмена
        </div>
        <div class="shipping-payment__item">
            <span class="return-exchange__header">
                Внимательно осмотрите внешний вид техники и комплектацию. Убедитесь в отсутствии внешних
                дефектов до подписания договора. По результатам осмотра вы можете отказаться от товара,
                оформив акт об отказе. После передачи товара претензии к внешнему виду техники не
                принимаются (в соответствии со статьями 458 и 459 ГК РФ).
            </span>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__text return-exchange__text">
                <b class="shipping-payment__text-b">При доставке техники</b>
                В течение 7 дней со дня покупки необходимо проверить, соответствует ли Ваше представление о товаре его
                характеристикам. В случаях, когда товар надлежащего качества не подошел Вам по каким-либо причинам,
                можно отказаться от него в любое время до его передачи, а также после передачи — в течение семи дней.
            </span>
            <ul class="return-exchange__list shipping-payment__list">
                Для обмена или возврата товара надлежащего качества необходимо, чтобы были выполнены следующие условия:
                <li class="return-exchange__li shipping-payment__li">
                    Товар не был в употреблении, были сохранены его потребительские свойства, товарный вид, упаковка,
                    пломбы, ярлыки, а также товарный или кассовый чек, документация к товару.
                </li>
                <li class="return-exchange__li shipping-payment__li">
                    Сохранено надлежащее качество товара (нет вмятин, трещин, царапин, сколов и других механических
                    повреждений, за исключением скрытых производственных дефектов).
                </li>
                <li class="return-exchange__li shipping-payment__li">
                    Товар не входит в перечень товаров, не подлежащих возврату или обмену на аналогичный товар.
                    (Перечень утвержден Постановлением Правительства РФ от 19 января 1998 г., № 55).
                </li>
            </ul>
            <span class="shipping-payment__text return-exchange__text">
                <b class="shipping-payment__text-b">Обмен и возврат товара ненадлежащего качества</b>
                В случае обнаружения дефекта товара необходимо обратиться в авторизованный сервисный центр для получения заключения.
            </span>
            <span class="shipping-payment__text return-exchange__text">
                В отношении технически-сложного товара в случае обнаружения в нем недостатков Вы вправе отказаться от ремонта и потребовать возврата уплаченной за такой товар суммы либо предъявить требование о его замене на товар надлежащего качества в течение 15 дней со дня передачи такого товара Вам. По истечении этого срока Вам необходимо обратиться в авторизованный сервисный центр для получения гарантийного обслуживания. Отказ от ремонта в данном случае возможен при условии:
            </span>

            <ul class="about-us__list shipping-payment__list">
                <li class="about-us__li shipping-payment__li">
                    Обнаружения существенного недостатка товара;
                </li>
                <li class="about-us__li shipping-payment__li">
                    Нарушения сроков устранения недостатков товара (срок устранения недостатков товара, определяемый в
                    письменной форме соглашением сторон, не может превышать сорок пять дней);
                </li>
                <li class="about-us__li shipping-payment__li">
                    Невозможности использования товара в течение каждого года гарантийного срока в совокупности более
                    чем тридцать дней вследствие неоднократного устранения его различных недостатков.
                </li>
            </ul>
            <span class="shipping-payment__text help__">
                Перечень технически сложных товаров утверждается Правительством Российской Федерации (Перечень
                утвержден Постановлением Правительства Российской Федерации от 10 ноября 2011 г. N 924).
            </span>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Правила оформления претензии по товару
            </span>
            <span class="shipping-payment__text return-exchange__text">
                <b class="shipping-payment__text-b">Внимание! Претензии принимаются исключительно в письменном виде.</b>
                Срок рассмотрения претензии с момента получения заявления составляет 10 дней.
                Убедительно просим вас сохранять оригиналы документов на покупку.
            </span>
            <ul class="return-exchange__list shipping-payment__list">
                Для того чтобы претензия была рассмотрена как можно быстрее, необходимо указать следующие данные:
                <li class="return-exchange__li shipping-payment__li">
                    Номер заказа
                </li>
                <li class="return-exchange__li shipping-payment__li">
                    Причину обращения (техника не работает, внешний вид, размер и т.п.)
                </li>
                <li class="return-exchange__li shipping-payment__li">
                    Требование (возврат денежных средств, обмен — с указанием модели и стоимости )
                </li>
                <li class="return-exchange__li shipping-payment__li">
                    Контактные данные
                </li>
            </ul>
            <ul class="about-us__list shipping-payment__list return-exchange__list">
                В приложении необходим следующий пакет документов:
                <li class="about-us__li shipping-payment__li return-exchange__li">
                    Подписанное заявление с данными о номере заказа, причине обращения, требованиями и контактными
                    данными.
                </li>
                <li class="about-us__li shipping-payment__li return-exchange__li">
                    Скан заключения авторизованного сервисного центра (в случае технической неисправности).
                </li>
                <li class="about-us__li shipping-payment__li return-exchange__li">
                    Фотографии повреждений (при наличии).
                </li>
                <li class="about-us__li shipping-payment__li return-exchange__li">
                    Фотографии упаковки и товара (в случае если товар не подошел по внешнему виду, размеру, цвету и
                    т.п.).
                </li>
                <li class="about-us__li shipping-payment__li return-exchange__li">
                    Кассовый и товарный чек или товарная накладная.
                </li>
                <li class="about-us__li shipping-payment__li return-exchange__li">
                    Гарантийный талон.
                </li>
            </ul>
            <a class="return-exchange__link" href="/upload/content/claim/blank.docx">Скачать бланк заявления</a>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Информация для юридических организаций
            </span>
            <span class="shipping-payment__text return-exchange__text">
                Согласно ст. 457, 458 ГК РФ, обязанность поставщика передать товар покупателю считается исполненной в
                момент передачи товара покупателю или указанному им лицу, либо предоставления товара в распоряжение
                покупателя, если товар должен быть передан покупателю или указанному им лицу в месте нахождения товара.
            </span>
            <span class="shipping-payment__text return-exchange__text">
                Обмен либо возврат товара будет возможен в случае, если это предусмотрено договором. Внимательно
                ознакомьтесь с документами, полученными при доставке товара, и подписывайте их только при условии, что
                все пункты вас устраивают.
            </span>
            <span class="shipping-payment__text return-exchange__text">
                В соответствии со ст. 523 ГК РФ односторонний отказ от исполнения договора поставки (полностью или
                частично) или одностороннее его изменение допускаются в случае существенного нарушения договора одной
                из сторон ( аб. 4 п.2 ст. 450 ) . Нарушение договора поставки поставщиком предполагается в случае
                поставки товаров ненадлежащего качества с недостатками, которые не могут быть устранены в приемлемый
                для покупателя срок, а также при неоднократном нарушении сроков поставки товаров.
            </span>
        </div>
        <div class="shipping-payment__item">
            <span class="shipping-payment__header">
                Форма для рекламационных обращений
            </span>
            <form name="" action="" method="post" enctype="" class="return-exchange__form">
                <input type="hidden" name="" value="">
                <input type="hidden" name="" value="">
                <div class="return-exchange__field">
                    <span class="return-exchange__name">ФИО <span class="return-exchange__required">*</span></span>
                    <input type="text" name="" value="" class="return-exchange__input" title="ФИО">
                    <span class="return-exchange__error-text"></span>
                </div>
                <div class="return-exchange__field">
                    <span class="return-exchange__name">E-mail <span class="return-exchange__required">*</span></span>
                    <input type="text" name="" value="" class="return-exchange__input" title="E-mail">
                    <span class="return-exchange__error-text"></span>
                </div>

                <div class="return-exchange__field">
                    <span class="return-exchange__name">Телефон <span class="return-exchange__required">*</span></span>
                    <input type="text" name="" value="" class="return-exchange__input" title="Телефон">
                    <span class="return-exchange__error-text"></span>
                </div>

                <div class="return-exchange__field">
                    <span class="return-exchange__name">Номер заказа <span class="return-exchange__required">*</span></span>
                    <input type="text" name="" value="" class="return-exchange__input" title="Номер заказа">
                    <span class="return-exchange__error-text"></span>
                </div>

                <div class="return-exchange__field">
                    <span class="return-exchange__name">Причина обращения <span class="return-exchange__required">*</span></span>
                    <textarea name="" rows="" cols="" class="return-exchange__textarea" title="Причина обращения"></textarea>
                    <span class="return-exchange__error-text"></span>
                </div>
                <div class="return-exchange__field return-exchange__attachment">
                    <span class="return-exchange__copyright">Приложения(<i>Внимание !</i> Рекламация будет
                        рассмотрена после получения<a href="#claim-docs"> полного пакета документов</a>)</span>
                    <div class="return-exchange__attachment__container">
                        <label class="return-exchange__file">
                            <span class="return-exchange__button">ВЫБЕРИТЕ ФАЙЛ</span>
                            <input type="file">
                        </label>
                    </div>
                </div>
                <br>
                <div class="return-exchange__field return-exchange__attachment">
                    <label>
                        <input class="checkbox filter_checkbox pers_data_check" type="checkbox" checked="">
                        <span class="checkbox-custom"></span>
                        <i class="icon-check"></i>Согласен с
                        <a target="_blank" href="/personal_data/">
                            использованием персональных данных
                        </a>
                        для обработки обращения
                    </label>
                    <div class="return-exchange__error-text js-field-error-text"></div>
                </div>

                <div class="return-exchange__submit return-exchange__attachment">
                        <input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
                </div>
            </form>
        </div>
    </div>
</div>