.return-exchange {
  display: flex;
  flex-wrap: wrap;

  // &__title {}

  // &__items {}

  // &__item {}


  &__header {
    font-family: 'Gotham Pro Medium';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #aa6e4f;
    margin-top: 10px;
  }

  // &__text {}

//   &__list {}

//   &__li {}
}