<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src='{{src}}Bitmap.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">Новая коллекция бытовой техники</span>
						<span class="span span__big">Platinum</span>
					</div>
					<div class="swiper__box">
						<a href="" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}Bitmap.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">Новая коллекция бытовой техники</span>
						<span class="span span__big">Platinum</span>
					</div>
					<div class="swiper__box">
						<a href="" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}Bitmap.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">Новая коллекция бытовой техники</span>
						<span class="span span__big">Platinum</span>
					</div>
					<div class="swiper__box">
						<a href="" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}Bitmap.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">Новая коллекция бытовой техники</span>
						<span class="span span__big">Platinum</span>
					</div>
					<div class="swiper__box">
						<a href="" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
</div>