.gallery {
	max-width: 1436px;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	img {
		width: auto;
		height: 100%;
		max-width: unset;
	}
}

.swiper-scrollbar {
	display: none;
}

.swiper {
	&-slide {
		position: relative;
		height: unset !important;
		align-items: flex-start;
		overflow: hidden;
	}

	&__item {
		position: absolute;
		align-items: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 63px;
		background: #0000006b
	}

	&__title {
		width: 546px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;

		.span {
			font-family: 'Gotham Pro Medium';
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			text-transform: uppercase;
			width: 100%;

			&__small {
				font-size: 18px;
				margin-top: 50px;
			}

			&__big {
				font-size: 100px;
				line-height: 1.05;
				margin-bottom: 33px;
			}
		}
	}

	&__box {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: -80px;
	}

	&__link {
		width: 100%;
		height: 44px;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		padding: 14px 34px;
		border-radius: 2px;
		border: solid 1px #ffffff;
		max-width: 172px;
		font-family: 'Gotham Pro Medium';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
	}

	&-pagination-bullet {
		border-radius: unset !important;
		transform: rotate(45deg);
		background: gray !important;
	}

	&-pagination-bullet-active {
		background: #ffffff !important;
		box-sizing: border-box;
	}

	&-button-main {
		opacity: 0;
	}
}



@media screen and (max-width: 768px) {
	.gallery {
		.swiper {
		&-slide {
			height: 400px !important;
		}

		&__item {
			padding-top: 57px;
		}
	}
	}
	

	.span {
		&__small {
			font-size: 16px !important;
		}

		&__big {
			font-size: 72px !important;
			margin-bottom: 57px !important;
		}
	}
	.fixed {
		.header__icons {
			position: absolute;
			top: 18px;
			right: 50%;
		}
	}
}

@media screen and (max-width: 480px) {
	.gallery {
	

		.span {
			&__small {
				width: 234px;
				font-size: 14px !important;
				margin-top: 23px;
			}

			&__big {
				font-size: 49px !important;
				margin-bottom: 37px !important;
			}
		}

		.swiper__link {
			max-width: 240px;
		}

		.swiper-pagination {
			bottom: 24px;
		}
	}
}
