.gallery {
	max-width: 1436px;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	overflow: hidden;
}
.swiper-scrollbar,.swiper-pagination {
	display: none;
}
.swiper {
	&-slide {
		position: relative;
	}

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 63px;
		background: #0000006b
	}

	&__title {
		width: 546px;
		height: 210px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;

		.span {
			font-family: 'Gotham Pro Medium';
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			text-transform: uppercase;
			width: 100%;

			&__small {
				font-size: 18px;
				margin-top: 60px;
			}

			&__big {
				font-size: 100px;
				line-height: 1.05;
			}
		}
	}

	&__box {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: -80px;
	}

	&__link {
		width: 100%;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		padding: 14px 34px;
		border-radius: 2px;
		border: solid 1px #ffffff;
		max-width: 172px;
		font-family: 'Gotham Pro Medium';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
	}
	&-pagination-bullet{
		border-radius: unset !important;
		transform: rotate(45deg);
	}
	&-pagination-bullet-active {
		background: #ffffff !important;
		box-sizing: border-box;
	}
	&-button-main {
		opacity: 0;
	}
	
	
}