.logo {

	&__link {
		text-decoration: none;
		display: block;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	@media screen and (max-width: 768px) {
		width: 127px;
		height: 24px;
	}
}