<div class="articles">
	<div class="container">
		<span class="articles__title">Статьи</span>
		<div class="articles__items">
			<div class="articles__item">
				<img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img">
				<span class="articles__text">Что делать, если индикатор горит, а варочная панель не работает?</span>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">9 причин вызвать мастера из сервисного центра и не пытаться устранить поломку самостоятельно</span>
			</div>
			<div class="articles__item">
				<img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img">
				<span class="articles__text">Преимущества встраиваемых микроволновых печей De Dietrich</span>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">В коллекции De Dietrich представлены надежные и технологичные модели с высоким</span>
			</div>
			<div class="articles__item">
				<img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img">
				<span class="articles__text">Обзор варочной панели De Dietrich DTG 1127 X</span>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">Модель сочетает удобство традиционного газового нагрева и широкие функциональные</span>
			</div>
			<div class="articles__item">
				<img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img">
				<span class="articles__text">ICS Система интеллектуального контроля у стиральных машин</span>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">Технический прогресс не стоит на месте, и сегодня компания De Dietrich предлагает «умные»</span>
			</div>
		</div>
		<a href="" class="articles__link">Все Статьи</a>
	</div>
</div>