.contact {
  display: flex;
  flex-wrap: wrap;

  // &__title {}

  // &__items {}
  &__form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;

    label {
      margin-left: 30px;
      color: #666666;
      font-family: "Gotham Pro";
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
    }

    a {
      color: #aa6e4f;
    }
  }

  &__detail {
    width: calc((100%/12)*4);
    padding-right: 20px;

    &-textarea {
      width: 100%;
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }


  &__text {
    width: 100%;
    padding: 5px 0;

  }

  &__item {
    display: flex;
    flex-wrap: wrap
  }

  &__element {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .shipping-payment__text-b {
    margin-bottom: 9px;
  }

  .shipping-payment__text {
    margin-bottom: 9px;
    margin-top: 9px;
    display: flex;
    flex-wrap: wrap;
  }

  .return-exchange__name {
    display: none;
  }

  .return-exchange__input {
    width: 100%;
    padding-left: 15px;
  }

  .return-exchange__textarea {
    width: 100%;
    padding: 15px;
  }

  @media screen and (max-width: 768px) {
    .shipping-payment__title.articles-main__title{
      padding: 15px 0;
    }
    &__detail {
      .return-exchange__input {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
      }
    }

    &__form label {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 480px) {
    &__element {
      width: 100%;
      height: unset;
    }

    &__detail {
      width: 100%;
      padding-right: 0;
    }

    .return-exchange__name {
      display: flex;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.29;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
    }

    .return-exchange__input::placeholder,.return-exchange__textarea::placeholder {
      opacity: 0;
    }
  }
}